/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v17-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
 /* roboto-700 - latin */
 @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* GLOBAL STYLES */
:root {
    font-size: 1em;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 320px;
}

.fixed {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 1rem;
}





/* HEADER */
.header {
    background-color: rgba(229, 229, 229, 0.2);
}
    @media (max-width: 768px) {
        .header {
            background-color: #393939;
        }
    }

.info-bar {
    background-color: #252525;
    padding: 0.3rem 0;
}
    @media (max-width: 768px) {
        .info-bar {
            display: none;
        }
    }

.info-bar .fixed {
    display: flex;
    justify-content: center;
}

.info-item {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.info-item + .info-item {
    margin: 0 0 0 2.5rem;
}

.info-item img {
    margin: 0 0.6rem 0 0;
}

.info-item span {
    color: #fff;
}

.info-item a {
    color: #fff;
    text-decoration: none;
}

.nav-panel .fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.5rem 1rem;
    background: url('../img/Logo.png') 50% 50% no-repeat;
}
    @media (max-width: 1220px) {
        .nav-panel .fixed {
            position: static;
        }
    }
        @media (max-width: 768px) {
            .nav-panel .fixed {
                background: url('../img/1.png') 50% 50% no-repeat;
            }
        }

.burger {
    width: 1.25rem;
    height: 1rem;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
} 

.burger span {
    font-size: 0;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    right: 0;
    transition: all .3s ease 0s;
    background: #000;
    transform: translate(0, -50%);
}
    @media (max-width: 768px) {
        .burger span {
            background: #fff;
        }
    }

.burger.active span {
    transform: scale(0);
}

.burger::after, .burger::before  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all .3s ease 0s;
    background: #000;
}
    @media (max-width: 768px) {
        .burger::after, .burger::before {
            background: #fff;
        }
    }

.burger::before  {
    top: 0px;
}

.burger::after  {
    bottom: 0;
}

.burger.active::before {
    transform: rotate(45deg);
    top: 7px;
}

.burger.active::after {
    transform: rotate(-45deg);
    bottom: 7px;
}

.burger:hover span,
.burger:hover:after,
.burger:hover:before {
    background: #FE9901;
    transition: all .3s ease 0s;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
}
    @media (max-width: 1220px) {
        .menu {
            display: none;
            flex-direction: column;
            top: 121px;
            left: 5rem;
            transform: translate(0);
            background: #393939;
        }
    }
        @media (max-width: 768px) {
            .menu {
                top: 68px;
                left: 1rem;
                background: #E5E5E5;
            }
        }
            @media (max-width: 425px) {
                .menu {
                    left: 0;
                    width: 100vw;
                }
            }

.menu li + li {
    margin: 0 0 0 3.75rem;
    white-space: nowrap;
}

.menu li:nth-child(3) {
    margin: 0 7.5rem 0 3.75rem;
}

.menu li:nth-child(4) {
    margin: 0 0 0 7.5rem;
}
    @media (max-width: 1220px) {
        .menu li + li {
            margin: 0;
        }
        .menu li:nth-child(3) {
            margin: 0;
        }
        .menu li:nth-child(4) {
            margin: 0;
        }
    }

.menu a {
    text-decoration: none;
    color: #393939;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.2rem;
    letter-spacing: 0.02em;
    padding: 5px 0;
    position: relative;
}
    @media (max-width: 1220px) {
        .menu a {
            color: #fff;
            font-size: 1rem;
            padding: 1rem 2rem;
            display: block;
        }
    }
        @media (max-width: 768px) {
            .menu a {
                color: #393939;
            }
        }
            @media (max-width: 425px) {
                .menu a {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

.menu a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FE9901;
    transform:  scaleX(0);
    transition: transform .3s ease;
}

.menu a:hover:before {
    transform:  scaleX(1);
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
}

.header__call-button {
    width: 9rem;
    height: 2.8rem;
    background: #FE9901;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: all .2s linear;
}
    @media (max-width: 768px) {
        .header__call-button {
            font-size: 0;
            box-shadow: none;
            width: 20px;
            height: 20px;
            background: url('../img/phone.png') 50% 50% no-repeat;
        }
    }

.header__call-button:hover {
    box-shadow: 0px 0px 10px rgba(254, 153, 1, 1);
    transition: all .2s linear;
}
    @media (max-width: 768px) {
        .header__call-button:hover {
            box-shadow: none;
        }
    }





/* MAIN */
.front-box {
    background: url('../img/BG.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: calc(100vh - 120px);
    position: relative;
    overflow: hidden;
}
    @media (max-width: 768px) {
        .front-box {
            height: calc(100vh - 68px);
        }
    }

.front-box::after,
.front-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    border: 8vw solid transparent;
}

.front-box::before {
    left: 0;
    border-bottom: 0;
    border-left: 50vw solid rgba(250, 250, 250, 1);
}

.front-box::after {
    right: 0;
    border-bottom: 0;
    border-right: 50vw solid rgba(250, 250, 250, 1);
}

.front-box.fixed {
    position: relative;
}

.front-box__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.front-box__content h2 {
    white-space: nowrap;
    font-weight: bold;
    font-size: calc(5vw - 0.6em);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin: 0;
}
    @media (max-width: 1220px) {
        .front-box__content h2 {
            font-size: calc(6vw - 0.6em);
        }
    }
        @media (max-width: 768px) {
            .front-box__content h2 {
                font-size: calc(8vw - 0.6em);
                margin: 0 0 2rem 0;
            }
        } 
            @media (max-width: 425px) {
                .front-box__content h2 {
                    font-size: 2.5rem;
                    white-space: pre-wrap;
                }
            }   

.front-box__content p {
    margin: 5px 0 50px 0;
    font-weight: bold;
    font-size: calc(2vw - 0.6em);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
} 
    @media (max-width: 1220px) {
        .front-box__content p {
            font-size: 0.9rem;
            line-height: 1.75;
        }
    }
        @media (max-width: 768px) {
            .front-box__content p {
                display: none;
            }
        }

.call-button {
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.2rem;
    padding: 1rem 1.625rem;
    background: #FE9901;
    width: 12.5rem;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: all .2s linear;
}

.call-button:hover {
    box-shadow: 0px 0px 10px rgba(254, 153, 1, 1);
    transition: all .2s linear;
}





/* ADVANTAGES */
.advantages {
    background: rgba(229, 229, 229, 0.2);
}

.advantages__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6.25rem 0;
}
    @media (max-width: 768px) {
        .advantages__content {
            flex-direction: column;
            padding: 3rem 0;
        }
    }

.advantages__item {
    display: flex;
    flex: 1;
}
    @media (max-width: 768px) {
        .advantages__item {
            margin: 1rem 0;
        }
    }

.advantages__item + .advantages__item {
    margin: 0 0 0 3vw;
}
    @media (max-width: 768px) {
        .advantages__item + .advantages__item {
            margin: 1rem 0;
        }
    }

.advantages__item img {
    margin: 0 3rem 0 0;
    width: 69px;
    height: 69px;
}
    @media (max-width: 1360px) {
        .advantages__item img {
            margin: 0 1.5rem 0 0;
            width: 50px;
            height: 50px;
        }
    }

.advantages__item-text {
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #393939;
}

.advantages__item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7rem;
    letter-spacing: 0.04em;
    margin: 0 0 0.75rem 0;
}
    @media (max-width: 1360px) {
        .advantages__item h3 {
            margin: 0;
            font-size: 1.25rem;
        }
    }
        @media (max-width: 1360px) {
            .advantages__item h3 {
                font-size: 1rem;
            }
        }

.advantages__item p {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}
    @media (max-width: 1360px) {
        .advantages__item p {
            font-size: 0.8rem;
            margin: 0;
        }
    }





/* ABOUT US */
.about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.125rem 0;
}
    @media (max-width: 768px) {
        .about__content {
            flex-direction: column;
            padding: 0;
        }
    }
.content__item {
    width: 33.33333333333%;
    background: #FE9901;
    padding: 9.375rem 5rem;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    @media (max-width: 1360px) {
        .content__item {
            padding: 8rem 4rem;
        }
    }    
        @media (max-width: 1220px) {
            .content__item {
                padding: 8rem 2rem;
            }
        }
            @media (max-width: 1024px) {
                .content__item {
                    padding: 6rem 1rem;
                }
            }
                @media (max-width: 768px) {
                    .content__item {
                        width: 100%;
                    }
                }

.content__item h2 {
    margin: 0 0 1.5rem 0;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.04rem;
}
    @media (max-width:1220px) {
        .content__item h2 {
            font-size: 1rem;
        }
    }

.content__item p {
    font-size: 1.125rem;
    line-height: 1.3;
    letter-spacing: 0.02rem;
    margin: 0 0 5rem 0;
}
    @media (max-width:1220px) {
        .content__item p {
            font-size: 0.9rem;
        }
    }

.content__item a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.3;
    letter-spacing: 0.02rem;
}

.history {
    background: #393939 url('../img/history.svg') 80% 80% no-repeat;
}

.prices {
    background: #FE9901 url('../img/prices.svg') 80% 80% no-repeat;
}

.license {
    background: #393939 url('../img/license.svg') 80% 80% no-repeat;
}
    @media (max-width: 1024px) {
        .history {
            background: #393939 url('../img/history.svg') 95% 95% no-repeat;
        }
        
        .prices {
            background: #FE9901 url('../img/prices.svg') 95% 95% no-repeat;
        }
        
        .license {
            background: #393939 url('../img/license.svg') 95% 95% no-repeat;
        }
    }

.content__item-anim {
    padding: 6rem 5rem;
    transition: all .3s ease-in-out;
}

.content__item-anim.history {
    background: #393939 url('../img/history.svg') 80% 88% no-repeat;
}

.content__item-anim:hover.history {
    background: #FE9901 url('../img/history.svg') 80% 80% no-repeat;
}

.content__item-anim:hover.license {
    background: #FE9901 url('../img/license.svg') 80% 80% no-repeat;
}

.content__item-anim.license {
    background: #393939 url('../img/license.svg') 80% 88% no-repeat;
}

.content__item-anim a {
    color: #FE9901;
}

.content__item-anim:hover {
    padding: 9.375rem 5rem;
    background-color: #FE9901;
}

.content__item-anim:hover a {
    color: #fff;
}
    @media (max-width: 1360px) {
        .content__item-anim {
            padding: 6rem 4rem;
        }
        .content__item-anim:hover {
            padding: 8rem 4rem;
        }
        .content__item-anim.license {
            background: #393939 url('../img/license.svg') 80% 85% no-repeat;
        }
        .content__item-anim.history {
            background: #393939 url('../img/history.svg') 80% 85% no-repeat;
        }
    }    
        @media (max-width: 1220px) {
            .content__item-anim {
                padding: 6rem 2rem;
            }
            .content__item-anim:hover {
                padding: 8rem 2rem;
            }
            .content__item-anim.license {
                background: #393939 url('../img/license.svg') 80% 85% no-repeat;
            }
            .content__item-anim.history {
                background: #393939 url('../img/history.svg') 80% 85% no-repeat;
            }
        }
            @media (max-width: 1024px) {
                .content__item-anim {
                    padding: 4rem 1rem;
                }
                .content__item-anim:hover {
                    padding: 6rem 1rem;
                }
                .content__item-anim.license {
                    background: #393939 url('../img/license.svg') 95% 95% no-repeat;
                }
                .content__item-anim.history {
                    background: #393939 url('../img/history.svg') 95% 95% no-repeat;
                }
                .content__item-anim:hover.history {
                    background: #FE9901 url('../img/history.svg') 95% 95% no-repeat;
                }
                .content__item-anim:hover.license {
                    background: #FE9901 url('../img/license.svg') 95% 95% no-repeat;
                }
            }
                @media (max-width: 768px) {
                    .content__item-anim {
                        padding: 4rem 1rem;
                    }
                    .content__item-anim:hover {
                        padding: 4rem 1rem;
                    }
                    .content__item-anim.license {
                        background: #393939 url('../img/license.svg') 90% 85% no-repeat;
                    }
                    .content__item-anim.history {
                        background: #393939 url('../img/history.svg') 90% 85% no-repeat;
                    }
                    .content__item-anim:hover.history {
                        background: #FE9901 url('../img/history.svg') 90% 85% no-repeat;
                    }
                    .content__item-anim:hover.license {
                        background: #FE9901 url('../img/license.svg') 90% 85% no-repeat;
                    }
                }





/* SERVICES */
.services {
    background: rgba(250, 250, 250, 1);
    padding: 5rem 0 10rem 0;
    position: relative;
}
    @media (max-width: 768px) {
        .services {
            padding: 5rem 0;
        }
    }

.services::after {
    content: "";
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #FE9901;
    border-radius: 50%;
}
    @media (max-width: 768px) {
        .services::after {
            bottom: 5rem;
        }
    }

.section-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.04rem;
    color: #393939;
    position: relative;
    text-align: center;
    margin: 0 0 4.5rem 0;
}

.section-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    width: 40px;
    height: 3px;
    background: #FE9901;
}

.services__content {
    display: flex;
}
    @media (max-width: 768px) {
        .services__content {
            flex-direction: column;
            align-items: center;
        }
    }

.service__item {
    flex: 1;
    max-width: 33.33333333333%;
}
    @media (max-width: 768px) {
        .service__item {
            max-width: 50%;
            margin: 0 0 3.2rem 0;
        }
    }

.service__item + .service__item {
    margin: 0 0 0 2.4rem;
}
    @media (max-width: 768px) {
        .service__item + .service__item {
            margin: 0 0 3.2rem 0;
        }
    }

.service__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
    padding: 3.5rem 0;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    height: calc(5vw - 1rem);
}
    @media (max-width: 768px) {
        .service__title {
            margin: 0 0 1rem 0;
        }
    }

.service__title p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: 0.04rem;
    color: #393939;
    margin: 1rem 0 0 0;
}

.service__img {
    width: 100%;
    height: auto;
}





/* REVIEWS */
.reviews {
    background: rgba(250, 250, 250, 1);
    padding: 0.5rem 0 6.25rem 0;
    position: relative;
}

.reviews::after {
    content: "";
    position: absolute;
    bottom: 4.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #FE9901;
    border-radius: 50%;
}
    @media (max-width: 768px) {
        .reviews::after {
            display: none;
        }
    }

.reviews .fixed {
    padding: 0;
}

.reviews .section-title {
    margin: 0 0 0.5rem 0;
}

.reviews__content {
    display: flex;
    position: relative;
}

.reviews__content .slick-arrow {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 35px;
    height: 35px;
    font-size: 0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.reviews__content .slick-arrow.slick-prev {
    transform: translate(-150%);
    background: url('../img/arrow-prev.svg') 50% 50% no-repeat;
    background-size: contain;
    transition: all .3s ease-in-out;
}

.reviews__content .slick-arrow.slick-prev:hover {
    background: url('../img/hover-prev.svg') 50% 50% no-repeat;
    background-size: contain;
}

.reviews__content .slick-arrow.slick-next {
    transform: translate(50%);
    background: url('../img/arrow-next.svg') 50% 50% no-repeat;
    background-size: contain;
    transition: all .3s ease-in-out;
}

.reviews__content .slick-arrow.slick-next:hover {
    background: url('../img/hover-next.svg') 50% 50% no-repeat;
    background-size: contain;
}

.reviews__content .slick-track {
    display: flex;
}

.reviews__content .slick-list {
    overflow: hidden;
    padding: 2rem 0;
}

.review__item {
    flex: 1;
    max-width: 33.33333333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    font-family: Roboto, sans-serif;
    color: #393939;
    padding: 4.8rem 4.375rem;
    margin: 0 1.2rem;
}
    @media (max-width: 1220px) {
        .review__item {
            padding: 3rem 1rem;
        }
    }

.review__item strong {
    color: #FE9901;
}

@media (max-width: 1220px) {
    .user-avatar {
        width: 115px;
        height: 115px;
    }
}

.company-name {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04rem;
    margin: 3rem 0 1rem 0;
}

.rating {
    margin: 0 0 2rem 0;
}

.user-comment {
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04rem;
    color: #4F4F4F;
    margin: 0;
}

.username {
    font-size: 1.125rem;
    line-height: 1.2rem;
    text-align: center;
    letter-spacing: 0.04rem;
}





/* CONTACTS */ 
.contacts {
    background: rgba(250, 250, 250, 1);
    position: relative;
    padding: 20vh 0 0 0;
}

.contacts__content {
    position: absolute;
    z-index: 10;
    top: 2rem;
    left: 50%;
    padding: 2.5rem 7rem;
    transform: translate(-50%);
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
    @media (max-width: 768px) {
        .contacts__content {
            margin: 0 1.5rem;
            padding: 1.5rem 3rem;
            transform: translate(-57%);
        }
    }

.contacts .section-title {
    margin: 0 0 2.5rem 0;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-item img {
    margin: 0 0.5rem 0 0;
}

.contact-item + .contact-item {
    margin: 1rem auto 0 auto;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02rem;
    color: #393939;
}
    @media (max-width: 768px) {
        font-size: 0.9rem;
    }

.contact-text a {
    color: #393939;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.timetable span {
    color: #696969;
    font-size: 1rem;
    white-space: nowrap;
}

.timetable strong {
    color: #000;
    font-size: 1rem;
}

.timetable b {
    color: #FE9901;
    font-size: 1rem;
}

.map {
    height: 80vh;
}





/* FOOTER */
.footer {
    height: 8rem;
    background: #252525 url('../img/logo-footer.svg') 50% 50% no-repeat;
}