$popupAnim: 0.3s;

.popup {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
  padding: 30px 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: visibility $popupAnim ease 0s;
  visibility: hidden;

  @media (max-width: $md5) {
    padding: 15px;
  }

  &::before {
    content: "";
    background-color: $blackOpacityHalf;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity $popupAnim ease 0s;
  }

  &.show {
    visibility: visible;

    &::before {
      opacity: 1;
    }

    & .popup__body {
      transform: scale(1);
    }
  }

  &.active {
    visibility: visible;

    &::before {
      opacity: 1;
    }

    & .popup__body {
      transition: transform 0.3s ease 0.2s;
      transform: scale(1);
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
  }

  &__body {
    display: flex;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 80px;
    background-color: #fff;
    transform: scale(0);
    transition: transform 0.3s ease 0s;

    @media (max-width: $md5) {
      flex-direction: column;
    }
  }

  &__close {
    position: absolute;
    z-index: 30;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    @media (max-width: $md5) {
      top: 10px;
      right: 10px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1px;
      width: 21px;
      background-color: $black;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s ease-in-out;
    }

    &:focus:before,
    &:focus:after,
    &:hover:before,
    &:hover:after {
      background-color: $amethyst;
    }

    &:active:before,
    &:active:after {
      background-color: $royalPurple;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__imgbox {
    max-width: 400px;
    overflow: hidden;

    @media (max-width: $md5) {
      max-width: 100%;
      max-height: 200px;
    }
  }

  &__picture {
    width: 100%;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    pointer-events: none;
  }

  &__descr {
    flex: 1 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

    @media (max-width: $md4) {
      padding-right: 36px;
    }

    @media (max-width: $md5) {
      padding: 20px;
      justify-content: flex-start;
    }
  }

  &__author {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: $doveGray;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $doveGray;
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    color: $doveGray;
  }

  &__text {
    margin-top: 40px;
    line-height: 22px;

    @media (max-width: $md4) {
      min-height: 240px;
    }

    @media (max-width: $md5) {
      margin-top: 12px;
    }
  }

  &-painting {
    .popup__body {
      max-height: 500px;

      @media (max-width: $md2) {
        max-width: 594px;
        min-height: 594px;
      }

      @media (max-width: $md4) {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .popup__descr {
      min-height: 400px;
    }
  }

  &-form-message {
    .subtitle {
      @media (max-width: $md5) {
        font-size: 16px;
      }
    }
  }
}
