@import "../../node_modules/swiper/swiper";

.swiper__nav {
  display: flex;
}

.swiper-button {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: border 0.1s ease-in-out, background-color 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    transform: translate(-50%, -50%);
  }

  &.swiper-button-next::after {
    transform: translate(-65%, -50%) rotate(45deg);
  }

  &.swiper-button-prev::after {
    transform: translate(-35%, -50%) rotate(-135deg);
  }
}

.swiper-button_light {
  background-color: $gallery;

  &:focus {
    border-color: $amethyst;
  }

  &:hover {
    background-color: $bilobaFlower;
    border-color: $bilobaFlower;
  }

  &:active {
    background-color: $bilobaFlower;
    border-color: $amethyst;
  }

  &::after {
    border-top: 1px solid $black;
    border-right: 1px solid $black;
  }
}

.swiper-button_dark {
  background-color: $doveGray;

  &:focus {
    border-color: $black;
  }

  @media (max-width: $md3) {
    &:hover {
      transition: border 0.1s ease-in-out;
      background-color: $amethyst;
      border-color: $amethyst;
    }
  }

  &:active {
    background-color: $royalPurple;
    border-color: $black;
  }
}

.swiper-button-disabled {
  background-color: $gallery;
  pointer-events: none;
  cursor: default;

  &:focus {
    border-color: $gallery;
  }

  &::after {
    border-color: $silver;
  }
}

.swiper-pagination {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: $white;
}

.swiper-notification {
  display: none;
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $silver;
  border-radius: 100%;
  cursor: pointer;

  &.swiper-pagination-bullet-active {
    background-color: $doveGray;
  }

  &:not(:first-child) {
    margin-left: 15px;
  }
}