<div class="min-w-[320px] m-auto bg-[#12151e]">

  <app-header></app-header>

  <main class="w-full p-[20px] flex">

    <div class="w-full max-w-[1920px] mx-auto flex">
      <div class="w-[50%] mr-[15px] flex">
        <app-pie-chart class="basis-[66%] mr-[15px] bg-[#1C1F2B]"></app-pie-chart>
        <div class="basis-[33%]">
          <app-efficiency class="mb-[15px] bg-[#1C1F2B]"></app-efficiency>
          <app-efficiency class=""></app-efficiency>
        </div>
      </div>
      <app-optimization class="w-[50%] bg-[#1C1F2B]"></app-optimization>
    </div>

  </main>

</div>