/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* caveat-regular - latin */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/caveat-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Caveat Regular'), local('Caveat-Regular'),
         url('../fonts/caveat-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/caveat-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/caveat-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/caveat-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/caveat-v7-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
  }

:root {
    font-size: 1em;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    padding: 75px 0 0 0;
    margin: 0;
}

.fixed {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 50px;
}
    @media (max-width: 768px) {
        .fixed {
            padding: 0 20px;
        }
    }

a {
    text-decoration: none;
}

.section__title {
    margin: 0 0 2rem 0;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    text-shadow: 1px 1px 3px #c49200;
    color: #5c4100;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}





.header {
    height: 75px;
    width: 100vw;
    background: url('../img/cerulean-cubes.png');
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px #000;
    z-index: 100;
}

.header .fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}
    @media (max-width: 425px) {
        .header .fixed {
            padding: 0 0.5rem;
        }
    }

.logo {
    font-family: Caveat, sans-serif;
    position: relative;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
    @media (max-width: 1024px) {
        .logo {
            order: 2;
        }
    }
        @media (max-width: 425px) {
            .logo {
                font-size: 1.75rem;
            }
        }

.logo img {
    height: 65px;
}

.menu-burger  {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
    margin-right: auto;
  }
    @media (max-width: 1024px) {
        .menu-burger {
            order: 1;
        }
    }
        @media (min-width: 1025px) {
        .menu-burger  {
            display: none;
            }
        }
  
  .hambergerIcon  {
    height: 5px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    background-color: #F2EBD1 ;
    -webkit-transform: translate(-50%,-50%) rotate(0deg);
        -ms-transform: translate(-50%,-50%) rotate(0deg);
            transform: translate(-50%,-50%) rotate(0deg);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
  }
  
  .hambergerIcon::before,
  .hambergerIcon::after  {
    content:"";
    position: absolute;
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
  }
  
  .hambergerIcon::before  {
    top: -10px;
    left: 0;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
  
  .hambergerIcon::after  {
    bottom:-10px;
    right: 0;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
  
  .open  {
    -webkit-transform:translate(-50%,-50%) rotate(135deg);
        -ms-transform:translate(-50%,-50%) rotate(135deg);
            transform:translate(-50%,-50%) rotate(135deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .open::before {
    top:0;
    -webkit-transform: translateX(100%) rotate(-90deg);
        -ms-transform: translateX(100%) rotate(-90deg);
            transform: translateX(100%) rotate(-90deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .open::after  {
    bottom: 0;
    -webkit-transform: translateX(-100%) rotate(-90deg);
        -ms-transform: translateX(-100%) rotate(-90deg);
            transform: translateX(-100%) rotate(-90deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}
    @media (max-width: 1024px) {
        .nav-menu {
            display: none;
            position: absolute;
            top: 75px;
            left: 10%;
            background: #ffba3b;
        }
    }

.nav-menu li + li {
    margin: 0 0 0 25px;
}
    @media (max-width: 1024px) {
        .nav-menu li + li {
            margin: 0;
        }
        .nav-menu li {
            text-align: center;
        }
    }

.nav__item {
    color: #fff;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: relative;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
}
    @media (max-width: 1024px) {
        .nav__item {
            padding: 1rem 2rem;
            width: 100%;
            display: block;
            color: #7d5f00;
            text-shadow: 0 0 5px #fff;
        }
    }

.nav__item::before,
.nav__item::after {
    content: '';
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #040070;
}
    @media (max-width: 1024px) {
        .nav__item::before,
        .nav__item::after {
            border-color: #7d5f00;
        }
    }

.nav__item::before {
    border-width: 2px 0 2px 0;
    -webkit-transform:  scaleX(0);
        -ms-transform:  scaleX(0);
            transform:  scaleX(0);
}

.nav__item::after {
    border-width: 0 2px 0 2px;
    -webkit-transform:  scaleY(0);
        -ms-transform:  scaleY(0);
            transform:  scaleY(0);
}

.nav__item:hover:before,
.nav__item:hover:after {
    -webkit-transform:  scale(1, 1);
    -ms-transform:  scale(1, 1);
        transform:  scale(1, 1);
}

.nav__item:hover {
    background-color: transparent;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    text-shadow: 2px 0 5px #000;
}
    @media (max-width: 1024px) {
        .nav__item:hover {
            text-shadow: none;
        }
    }

.call-button {
    padding: 0.5rem 1rem;
    background: #ecd95f;
    display: block;
    color: #fff;
    text-shadow: 0 0 2px #000;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    transition: all .3s ease-in-out;
}
    @media (max-width: 1024px) {
        .header .call-button {
            order: 3;
        }
    }
        @media (max-width: 768px) {
            .header .call-button {
                font-size: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #ecd95f url('../img/communications.svg') 50% 50% no-repeat;
                background-size: 50%;
            }
        }

.call-button:hover {
    box-shadow: none;
}





/* GREETING */
.greeting {
    height: calc(100vh - 75px);
    background: url('../img/24544-NV745M1.jpg') 50% 50% no-repeat,
                url('../img/main-bg.jpg') 50% 50%;
    background-size: contain;
    position: relative; 
    overflow: hidden;
}
    @media (max-width: 768px) {
        .greeting {
            background-size: cover;
        }
    }

.greeting::after {
    content: "Baby Care";
    position: absolute;
    bottom: 15%;
    left: 0;
    height: 50px;
    width: 250px;
    background: url('../img/company-name-bg.png') 0 0 no-repeat;
    background-size: contain;
    font-family: Caveat, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: #fff;
}

.greeting .fixed {
    position: relative;
    width: 100%;
    height: 100%;
}

.greeting__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    @media (max-width: 768px) {
        .greeting__content {
            padding: 0 1rem;;
        }
    }

.greeting-text {
    font-size: 4vw;
    line-height: 1.2;
    text-shadow: 0 0 10px #000;
    margin: 0 0 3rem 0;
    text-align: center;
    color: #fffc00;
    font-weight: bold;
}
    @media (min-width: 1920px) {
        .greeting-text {
            font-size: 3.5vw;
        }
    }
        @media (max-width: 1024px) {
            .greeting-text {
                font-size: 3rem;
            }
        }
            @media (max-width: 768px) {
                .greeting-text {
                    font-size: 2.2rem;
                    margin: 0 0 1rem 0;
                    text-shadow: 0 0 10px #fff;
                }
            }
                @media (max-width: 425px) {
                    .greeting-text {
                        font-size: 1.5rem;
                        text-shadow: 0 0 5px #fff;
                    }
                }

.get-catalog {
    display: block;
    width: 20vw;
    min-width: 15rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: #ffe400;
    background: -o-linear-gradient(top,#ffe400 0%,#a77700 100%);
    background: -webkit-gradient(linear,left top, left bottom,from(#ffe400),to(#a77700));
    background: -o-linear-gradient(top,#ffe400 0%,#a77700  100%);
    background: linear-gradient(to bottom,#ffe400 0%,#a77700  100%);
    font-size: 1rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 4px #000;
    text-transform: uppercase;
    white-space: nowrap;
	box-shadow: rgb(207, 84, 1) 0 0px 0px 2px inset;
    border-radius: 10px;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.get-catalog:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(228, 96, 8, 0.7) 0 80px 0px 2px inset;
}

@-webkit-keyframes moveArrowDown {
    from {
      background: #FFE5B4 url('../img/thin-arrowheads-pointing-down.png') 50% 45% no-repeat;
    }
    to {
      background: #FFE5B4 url('../img/thin-arrowheads-pointing-down.png') 50% 65% no-repeat;
    }
  }
  
  @keyframes moveArrowDown {
    from {
      background: #FFE5B4 url('../img/thin-arrowheads-pointing-down.png') 50% 45% no-repeat;
    }
    to {
      background: #FFE5B4 url('../img/thin-arrowheads-pointing-down.png') 50% 65% no-repeat;
    }
  }

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 82px;
    height: 41px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-box-shadow: 0 0 20px #000;
            box-shadow: 0 0 20px #000;
    background: #FFE5B4 url('../img/thin-arrowheads-pointing-down.png') 50% 60% no-repeat;
    background-size: 25%;
    -webkit-animation: moveArrowDown .5s linear infinite alternate ;
            animation: moveArrowDown .5s linear infinite alternate ;
    cursor: pointer;
    font-size: 0;
  }





/* ABOUT US */
.about {
    padding: 5rem 0;
    background: #FFE5B4;
    overflow: hidden;
}
    @media (max-width: 768px) {
        .about {
            padding: 2rem 0;
        }
    }

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    @media (max-width: 768px) {
        .about__content {
            flex-direction: column;
        }
    }

.about__text p {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
}

.about__img {
    margin: 0 0 0 3rem;
}





/* BESTSELLERS */
.bestsellers {
    padding: 5rem 0;
    background: url('../img/main-bg.jpg');
}

.bestsellers .fixed {
    padding: 0;
}

.bestsellers__content {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}
    @media (max-width: 900px) {
        .bestsellers__content {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }

.bestsellers__item {
    min-width: 100%;
    max-width: 30rem;
    padding: 1rem 3rem;
    background: rgb(255, 215, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
    @media (max-width: 900px) {
        .bestsellers__item {
            margin: 0 auto;
            width: 80%;
            min-width: 300px;
        }
    }
        @media (max-width: 768px) {
            .bestsellers__item {
                padding: 1rem;
            }
        }

.item-img {
    margin: 0 1rem 0 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
    @media (max-width: 900px) {
        .item-img {
            margin: 0 0.5rem 0 0;
            flex: 1;
            width: auto;
        }
        .item-img > img {
            width: 50%;
            height: auto;
        }
    }

.item-desc {
    flex: 1;
}

.item-desc__name {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #9e5f0b;
    white-space: nowrap;
}

.item-desc i {
    display: block;
    font-weight: 300;
    font-size: 1rem;
}

.item-desc p {
    margin: 0 0 1rem 0;
    font-weight: bold;
}

.item-desc p + p {
    margin: 1rem 0 0 0;
}





/* FREQUENTLY PROBLEMS */
.frequently-problems {
    padding: 5rem 0;
    background: #FFE5B4;
}

.problems__title {
    text-align: center;
    margin: 0 0 2rem 0;
}

.problems__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.problems__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
    @media (max-width: 1024px) {
        .problems__item {
            min-width: 50%;
        }
    }
        @media (max-width: 570px) {
            .problems__item {
                min-width: 100%;
            }
        }

.problems__img-box {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.problems__item p {
    padding: 2rem 1rem 0 1rem;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 5px #fff;
    color: #000;
    max-width: 20rem;
}

.problems__item img {
    object-fit: contain;
}





/* SERVICES */
.services {
    padding: 4rem 0;
    background: url('../img/main-bg.jpg');
}

.services .fixed {
    position: relative;
}

.services__content {
    display: flex;
    min-width: 0;
}

.services__item img {
    display: block;
    margin: 0 auto;
}

.services__item-box {
    padding: 1rem;
    width: 100%;
}

.services__item p {
    text-align: center;
    margin: 2rem 0 0 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.services .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    outline: none;
    font-size: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.5;
    transition: all .2s ease-in-out;
}

.services .slick-arrow:hover {
    opacity: 1;
}

.services .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/prev-arrow.svg') 50% 50% no-repeat;
    background-size: cover;
}

.services .slick-arrow.slick-next {
    right: 0;
    background: url('../img/next-arrow.svg') 50% 50% no-repeat;
    background-size: cover;
}




/* HOW IT WORKS */
.how-works {
    background: url('../img/607227-PN9WAF-8651.jpg') 50% 50% no-repeat;
    background-size: cover;
    padding: 3rem 0;
}
    @media (max-width: 768px) {
        .how-works {
            background: #ffc237;
        }   
    }

.how-works__title {
    margin: 0 0 2rem 0;
    font-size: 2rem;
    line-height: 1.2;
}
    @media (max-width: 768px) {
        .how-works__title {
            font-size: 1.5rem;
            text-align: center;
        }   
    }

.how-works__item {
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;
    width: 50%;
}
    @media (max-width: 768px) {
        .how-works__item {
            width: 100%;
        }   
    }

.item-number {
    width: 55px;
    height: 55px;
    background: url('../img/sec07-img01_k9Yxti5.png') 50% 50% no-repeat;
    text-align: center;
    line-height: 55px;
    font-size: 2rem;
    color: #fff;
    position: relative;
    margin: 0 2rem 0 0;
}


.item-number::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 40px;
    background: url('../img/sec07-img02_dp9rx0P.png') 50% 50% no-repeat;
}

.how-works__item:last-child .item-number::after {
    background: none;
}
    @media (max-width: 768px) {
        .item-number {
            margin: 0 1rem 0 0;
        }   
    }

.item-desc {
    font-size: 1.2rem;
}
    @media (max-width: 425px) {
        .item-desc {
            font-size: 1rem;
        }   
    }

.item-desc a {
    color: #f00;
}





/* SUPPLIERS */
.suppliers {
    padding: 3rem 0;
    background: url('../img/main-bg.jpg');
}

.suppliers__content {
    display: flex;
}

.suppliers__item-box {
    padding: 1rem;
}

.suppliers__item {
    max-width: 15rem;
    margin: 0 auto;
}

.supplier-img {
    height: 10rem;
    min-width: 15rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.supplier-img img {
    height: 100%;
}

.supplier__name {
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
}

#hndm {
    height: 60%;
}





/* FORM */
.form-section {
    background: #ffc757 url('../img/web3.png') 50% 50% no-repeat;
    background-size: cover;
    padding: 5rem 0 0 0;
    height: calc(100vh - 75px);
}
    @media (max-width: 768px) {
        .form-section {
            background: #ffc757;
        }
    }

.form-section__content {
    display: flex;
    justify-content: flex-start;
}
  
  .form-box  {
    max-width: 36.5625rem;
    width: 50vw;
    padding: 0 2rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
    @media (max-width: 768px) {
      .form-box {
        margin: 0 auto;
        padding: 0;
        width: 100vw;
      }
    }
  
  .form-box form {
            justify-content: center;
  }
    @media (max-width: 768px) {
      .form-box form {
        padding: 4rem 2rem;
      }
    }
  
  .form-box input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin: 0 0 1.5rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  
  .form-box textarea {
    margin: 0 0 1.5rem 0;
    resize: vertical;
    display: block;
    width: 100%;
    height: 8rem;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  
  .form-box input:focus,
  .form-box textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #9e5a00;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem #9e5a00;
    box-shadow: 0 0 0 0.1rem #9e5a00;
  }
  
  .form-box button {
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.5rem;
    height: 3.5rem;
    border: 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.22);
    background: #ffe400;
    background: -o-linear-gradient(top,#ffe400 0%,#a77700 100%);
    background: -webkit-gradient(linear,left top, left bottom,from(#ffe400),to(#a77700));
    background: -o-linear-gradient(top,#ffe400 0%,#a77700  100%);
    background: linear-gradient(to bottom,#ffe400 0%,#a77700  100%);
    box-shadow: 0 0 20px #915a04;
  }
  
  .form-box button:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }





/* CONTACTS */
.contacts {
    /* background: #9bddff; */
    background: url('../img/main-bg.jpg');
    position: relative;
    display: flex;
    justify-content: center;
}
    @media (max-width: 768px) {
        .contacts {
            flex-direction: column;
        }
    }

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
    @media (max-width: 768px) {
        .location {
            width: 100%;
            padding: 2rem 0;
        }
    }

.contacts__content {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    max-width: 585px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
    @media (max-width: 768px) {
        .contacts__content {
            margin: 0 1.5rem 1rem 1.5rem;
            padding: 1.5rem 3rem;
        }
    }

.contacts-title {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item__img {
    margin: 0 0.5rem 0 0;
    width: 15px;
}

.contact-item + .contact-item {
    margin: 1rem auto 0 auto;
}

.contact-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.02rem;
    color: #393939;
}
    @media (max-width: 768px) {
        .contact-text {
            font-size: 0.9rem;
        }
    }

.contact-text a {
    color: #393939;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.timetable span {
    color: #696969;
    font-size: 1em;
    white-space: nowrap;
}

.timetable strong {
    color: #000;
    font-size: 1em;
}

.timetable b {
    color: #FE9901;
    font-size: 1em;
}

.map {
    height: calc(80vh - 75px);
    width: 50%;
}
    @media (max-width: 768px) {
        .map {
            width: 100%;
        }
    }





/* FOOTER */
.footer {
    background: url('../img/logo2.png') 50% 50% no-repeat,
                url('../img/cerulean-cubes.png') 50% 50%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 3rem;
    font-family: Caveat, sans-serif;
    color: #fff;
}