@media (min-width: 576px) {
    /* <HEADER> */
    .header__content {
        height: 100px;
    }
    .header__logo img {
        width: 138px;
        height: 57px;
    }
    .header__acts {
        display: flex;
    }
    .enter {
        width: 100%;
        max-width: 100px;
    }
    .reg {
        width: 100%;
        max-width: 175px;
    }
    /* </HEADER> */

    /* <MENU> */
    .menu {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 300px;
        max-height: 500px;
        transform: translate(-100%, 100px);
    }
    .menu.active {
        transform: translate(0%, 99px);
    }
    .menu::before {
        display: none;
    }
    .menu__body {
        position: relative;
        padding: 0px;
        max-width: 300px;
        max-height: 500px;
        overflow: auto;
    }
    .menu__acts {
        display: none;
    }
    /* </MENU> */
}

@media (min-width: 768px) {
    .cookies span {
        font-size: 16px;
    }

    .title {
        font-size: 36px;
        line-height: 50px;
    }


     /* <HEADER> */
    .header__logo img {
        width: 141px;
        height: 58px;
    }
    .enter {
        max-width: 160px;
    }
    
    .reg {
        max-width: 225px;
    }
    /* </HEADER> */

    /* <FOOTER> */
    .footer {
        padding: 20px 0px 40px;
    }
    .footer__logo img {
        width: 155px;
        height: 60px;
    }
    /* </FOOTER> */

    
    /* <SWIPER> */
    .swiper-slide a {
        padding: 28.5% 0% 0%;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0px 12.5px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 25px;
    }
    /* </SWIPER> */
}

@media (min-width: 992px) {
    .text {
        font-size: 18px;
    }

    /* <FOOTER> */
    .footer {
        padding: 45px 0px 40px;
    }
    .footer__logo img {
        width: 170px;
        height: 67px;
    }
    .footer a {
        font-size: 22px;
    }
    /* </FOOTER> */
}

@media (min-width: 1200px) {
    .cookies span {
        font-size: 22px;
        line-height: 170%;
    }

    .page-bg-1 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 5.52%, #000000 29.48%, #000000 84.69%);
        background-image: url('../img/page-bg/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
    }


     /* <HEADER> */
    .menu-icon {
        display: none;
    }

    .header__stars {
        display: flex;
    }

    .header__logo img {
        width: 141px;
        height: 55px;
    }
     /* </HEADER> */

     /* <MENU> */
    .menu {
        position: static;
        width: 100%;
        max-height: 100%;
        transform: translate(0%, 0%);
        background-color: #353535;
        opacity: 1;
        transition: none;
    }
    .menu.active {
        transform: translate(0%, 0%);
    }
    .menu .menu__body {
        position: static;
        margin: 0px auto;
        max-width: 1200px;
        height: 65px;
        overflow: auto;
        background-color: #353535;
    }
    .menu__item::after {
        display: none;
    }
    .menu__item a::after {
        display: none;
        opacity: 0;
        content: "";
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translate(0%,-50%);
        width: 15px;
        height: 15px;
        background-color: #24BA9D;
        border-radius: 15px;
    }
    .menu__item a:hover:after,
    .menu__item a:focus:after {
        display: block;
        opacity: 1;
    }
    .menu__item a.active::after {
        display: block;
        opacity: 1;
    }
    .menu__item a.active {
        pointer-events: none;
        cursor: pointer;
    }
    /* </MENU> */
}