@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.woff2") format("woff2"), url("../fonts/Montserrat.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Hairline";
  font-display: swap;
  src: url("../fonts/Montserrat-Hairline.woff") format("woff"), url("../fonts/Montserrat-Hairline.woff2") format("woff2"), url("../fonts/Montserrat-Hairline.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e8ecf2;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: relative;
  z-index: 1;
  height: 121px;
  background-color: #1c2f47;
}

.header__container {
  height: 100%;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: -8px 0px 0px 0px;
}

.header__login-btn {
  display: inline-block;
  width: 145px;
  height: 53px;
  background-color: transparent;
  border-radius: 5px;
  font-family: 'Montserrat-Bold';
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 51px;
  letter-spacing: 1.5px;
  transition: all 0.15s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  box-shadow: #69bac2 0 0px 0px 2px inset;
}

.header__login-btn:hover {
  color: #1c2f47;
  box-shadow: #69bac2 0 80px 0px 2px inset;
}

.footer__tagline {
  margin: 0px 0px 26px 0px;
  font-family: 'Montserrat-Bold';
  font-size: 48px;
  color: #fff;
  letter-spacing: 1.4px;
}

.footer__tagline:last-child {
  margin: 0px -35px 0px 0px;
  font-size: 36px;
  font-family: 'Montserrat-Light';
  color: #e5e5e5;
  text-align: right;
}

.footer__btn {
  display: inline-block;
  width: 266px;
  height: 66px;
  background-color: #69bbc4;
  border-radius: 5px;
  color: #fff;
  line-height: 68px;
  font-size: 18px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.1px;
  transition: box-shadow .2s ease-in-out, transform .1s ease-in-out;
}

.footer__btn:hover,
.footer__btn:focus {
  box-shadow: 0 0 10px #69bbc4;
}

.footer__btn:active {
  transform: scale(0.98);
}

.footer__image {
  position: absolute;
  bottom: 0;
  left: -75px;
}

.footer__site-link {
  color: #69bbc3;
}

.footer__site-link:hover,
.footer__site-link:focus {
  text-decoration: underline;
}

.footer-top {
  padding: 76px 0;
  background: url("../img/footer-decor.png") 65px 50% no-repeat #3863a5;
}

.footer-top__container {
  display: flex;
  font-size: 0;
  justify-content: flex-end;
}

.footer-top__column:last-child {
  margin: 0px 0px 0px 120px;
  padding: 24px 15px 0px 0px;
}

.footer-bottom {
  background-color: #1d3049;
}

.footer-bottom__container {
  position: relative;
  display: flex;
  font-size: 0;
  justify-content: flex-end;
}

.footer-bottom__text {
  max-width: 315px;
  font-size: 16px;
  font-family: 'Montserrat';
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: #e5e5e5;
  line-height: 1.5;
}

.footer-bottom__copyright {
  font-size: 18px;
  font-family: 'Montserrat';
  color: #fff;
}

.footer-bottom__column {
  padding: 83px 0px 52px 0px;
}

.footer-bottom__column:last-child {
  margin: 0px 0px 0px 52px;
  padding: 91px 12px 52px 0px;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: 'Montserrat-Bold';
  font-size: 48px;
  text-align: center;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.property-price {
  margin: 0px 0px 6px 0px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 21px;
  color: #cacaca;
}

.property-price-value {
  margin: 0px -10px 0px 0px;
  text-align: center;
  font-size: 48px;
  font-family: 'Montserrat-Bold';
  color: #4a4848;
}

.property-price-value span {
  font-size: 36px;
}

.property__name {
  margin: 0px 0px 8px 0px;
  text-align: center;
  font-family: 'Montserrat-Light';
  font-size: 18px;
  color: #cacaca;
}

.property__value {
  text-align: center;
  font-size: 24px;
  font-family: 'Montserrat-Bold';
  color: #4a4848;
  letter-spacing: 1px;
}

.main {
  position: relative;
  z-index: 1;
}

.bg-decor-1 {
  position: absolute;
  top: 188px;
  left: 50%;
  transform: translate(-82.4%, 0%);
}

.bg-decor-2 {
  position: absolute;
  top: 2560px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.bg-decor-3 {
  position: absolute;
  top: 6150px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.major {
  padding: 90px 20px 75px 20px;
}

.major__content {
  display: flex;
  font-size: 0;
  justify-content: space-between;
}

.major__content-column {
  flex: 1 1 50%;
  display: flex;
  font-size: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.major__content-column:first-child {
  margin: 97px 0px 0px 0px;
  position: relative;
  z-index: 4;
}

.major__content-column:last-child {
  margin: 0px -30px 0px 0px;
}

.major__title {
  margin: 0px 0px 43px 0px;
  font-size: 78px;
  font-family: 'Montserrat-Bold';
  color: #34375c;
  letter-spacing: 2.5px;
  line-height: 1.01;
}

.major__title span {
  color: #68b9c2;
}

.major__subtitle {
  margin: 0px 0px 37px 0px;
  font-size: 36px;
  font-family: 'Montserrat-Bold';
  color: #bec0ce;
  letter-spacing: 0.8px;
}

.major__text {
  max-width: 470px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1px;
}

.major__link {
  margin: 46px 0px 0px 4px;
  display: inline-block;
  width: 283px;
  height: 66px;
  background-image: linear-gradient(90deg, #db7054, #dc4874);
  border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  line-height: 66px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.major__link:hover,
.major__link:focus {
  box-shadow: 0 0 10px #dc4874;
}

.major__link:active {
  transform: scale(0.98);
}

.major__bg-image {
  margin: 0px 0px 0px -55px;
}

.major__bg-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.franchise {
  padding: 34px 0 40px 0;
}

.franchise__container {
  max-width: 1030px;
}

.franchise__title {
  margin: 0px 0px 85px -30px;
}

.franchise__content {
  max-width: 977px;
  margin: 0 auto 227px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 100px -60px #000;
}

.franchise__content-header {
  height: 102px;
  padding: 0 45px 0 35px;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #1d3049;
}

.franchise__content-header span {
  display: inline-block;
  margin: 0px 0px 4px 0px;
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  color: #fff;
  letter-spacing: 1px;
}

.franchise__text {
  padding: 38px 60px 30px 60px;
  background-color: #fff;
}

.franchise__text p {
  margin: 0px 0px 35px 0px;
  font-family: 'Montserrat';
  font-size: 18px;
  color: #4a4848;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.franchise__text-title {
  margin: 0px 0px 13px 0px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 29px;
  color: #000;
}

.properties {
  background-color: #fff;
}

.properties__row:first-child {
  height: 128px;
  padding: 23px 0px;
}

.properties__row:nth-child(2) {
  display: flex;
  font-size: 0;
  height: 105px;
  background-color: #edf1f5;
}

.properties__column {
  flex: 1 1 33.333%;
  padding: 25px 0;
}

.properties__column:nth-child(2) {
  background-color: #fcfcfc;
}

.form-franchise {
  padding: 37px 190px 46px 180px;
  background-color: #1c2e47;
}

.form-franchise__row:last-child {
  margin: 21px 0px 0px 0px;
  display: flex;
  font-size: 0;
}

.form-franchise__btn {
  flex: 0 0 194px;
  height: 65px;
  margin: 0px 0px 0px 20px;
  border-radius: 5px;
  background-color: #70c666;
  font-size: 18px;
  line-height: 66px;
  color: #fff;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.form-franchise__btn:hover,
.form-franchise__btn:focus {
  box-shadow: 0 0 10px #70c666;
}

.form-franchise__btn:active {
  transform: scale(0.98);
}

.textarea {
  padding: 17px 28px;
  width: 100%;
  height: 138px;
  resize: none;
  border-radius: 5px;
  background-color: #294060;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

.input {
  width: 100%;
  border-radius: 5px;
  background-color: #294060;
  padding: 0px 28px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

.input.err {
  border: 1px solid red;
}

.item-franchise {
  margin: 173px 0px 0px 0px;
  display: flex;
  font-size: 0;
  justify-content: space-between;
}

.item-franchise__card {
  flex: 0 0 370px;
}

.item-franchise:first-child {
  margin: 0;
}

.item-franchise_reverse {
  flex-direction: row-reverse;
}

.desc-franchise {
  padding: 85px 190px 0px 0px;
  margin: 0px 0px 0px 36px;
}

.desc-franchise_reverse {
  padding: 85px 0px 0px 228px;
  margin: 0px 0px 0px 0px;
}

.desc-franchise__title {
  margin: 0px 0px 21px 0px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0;
}

.desc-franchise__subtitle {
  margin: 0px 0px 50px 0px;
  color: #8f99a9;
  font-size: 36px;
  font-family: 'Montserrat';
}

.desc-franchise p {
  margin: 0px 0px 35px 0px;
  font-size: 20px;
  font-family: 'Montserrat';
  color: #4a4848;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.card {
  margin: 0px 30px 0px 0px;
  box-shadow: 0 0 100px -50px #000;
  border-radius: 10px;
  overflow: hidden;
}

.card_reverse {
  margin: 0px 0px 0px 30px;
}

.card__header {
  height: 101px;
  line-height: 101px;
  font-size: 30px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
}

.card__header_green {
  background-color: #78d445;
}

.card__header_aqua {
  background-color: #6abcc5;
}

.card__header_orange {
  background-color: #eaa928;
}

.card__item {
  padding: 21px 0 20px 0;
}

.card__item_price {
  padding: 35px 0;
}

.card__item:nth-child(even) {
  background-color: #fff;
}

.card__item:nth-child(odd) {
  background-color: #ecf2f5;
}

.card__footer {
  padding: 52px 55px 55px 50px;
  background-color: #fff;
}

.card__footer-btn {
  display: inline-block;
  width: 100%;
  height: 67px;
  background-color: #70c666;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  color: #fff;
  line-height: 67px;
  text-align: center;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.card__footer-btn:hover,
.card__footer-btn:focus {
  box-shadow: 0 0 10px #70c666;
}

.card__footer-btn:active {
  transform: scale(0.95);
}

.works {
  padding: 0 0 200px 0;
}

.works__container {
  position: relative;
}

.works__image {
  padding: 215px 0 0 190px;
  margin: 0px 0px 47px 0px;
}

.works__image_1 {
  position: absolute;
  top: 5px;
  left: 35px;
}

.works__image_2 {
  display: block;
  margin: 0 auto;
}

.works__title {
  margin: 0px 0px 37px 0px;
}

.works__content {
  display: flex;
  font-size: 0;
}

.works__content-column {
  padding: 0px 40px 0 35px;
  flex: 1 1 50%;
  font-size: 20px;
  font-family: 'Montserrat';
  color: #4a4848;
  line-height: 1.8;
}

.works__content-column:last-child {
  padding: 0px 65px 0 35px;
  margin: 0px 0px 0px 30px;
}

.steps {
  padding: 110px 0px 170px 0px;
}

.steps__title {
  margin: 0px 0px 25px -45px;
}

.steps__subtitle {
  margin: 0 auto 55px;
  max-width: 500px;
  color: #4a4848;
  font-size: 21px;
  font-family: 'Montserrat';
  text-align: center;
  line-height: 1.75;
}

.steps__subtitle span {
  display: inline-block;
  margin: 0px 0px 0px -45px;
}

.steps__content {
  display: flex;
  font-size: 0;
}

.steps__content-column {
  position: relative;
  margin: 0 48px;
  flex: 1 1 33.333%;
}

.steps__content-column:last-child {
  margin: 0 0 0 80px;
}

.steps__content-column:last-child .step-item__body {
  margin: 0px 0px 54px 0px;
}

.steps__content-column:last-child .step-item__header {
  margin: 0px 0px 35px 0px;
}

.steps__content-column:last-child::after {
  display: none;
}

.steps__content-column::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 10px;
  right: -15px;
  width: 16px;
  height: 29px;
  background: url("../img/step-arrow.png") 50% 50% no-repeat;
}

.steps__content-column:nth-child(2)::after {
  right: -60px;
}

.step-item {
  padding: 0 10px 0 0;
}

.step-item__header {
  margin: 0px 0px 55px 0px;
  font-size: 20px;
  font-family: 'Montserrat-Bold';
  color: #4a4848;
  font-size: 24px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}

.step-item__body {
  display: flex;
  font-size: 0;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
}

.step-item__footer {
  max-width: 290px;
  font-size: 18px;
  font-family: 'Montserrat';
  color: #4a4848;
  line-height: 1.6;
}

.step-num {
  margin: 0px 10px 0px 0px;
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 10px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: #1a2d4c;
}

.step-num_aqua {
  background-color: #6abcc5;
}

.step-num_orange {
  background-color: #ebab28;
}

.step-num_green {
  background-color: #77d345;
}

.check {
  display: inline-block;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 50px;
  height: 45px;
  width: 220px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Montserrat';
  color: #494747;
  line-height: 45px;
}

.check_aqua {
  background-color: #6abcc5;
}

.check_orange {
  background-color: #ebab28;
}

.check_green {
  background-color: #77d345;
}

.check-done {
  background-image: url("../img/step-check-done.png");
  background-position: 12px 10px;
  background-repeat: no-repeat;
}

.check-dis {
  background-image: url("../img/step-check-dis.png");
  background-position: 12px 10px;
  background-repeat: no-repeat;
}

.eos {
  position: relative;
  z-index: 3;
  background-color: #2f3d55;
  color: #fff;
  overflow: hidden;
  line-height: 42px;
}

.eos img {
  position: absolute;
  z-index: 2;
  top: -6px;
  right: 0;
}

.credit-card {
  position: relative;
  z-index: 3;
  background-color: #c6d4d9;
  color: #555555;
  overflow: hidden;
  line-height: 42px;
}

.credit-card img {
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: -15px;
}

.crypto {
  position: relative;
  background-color: #2f3d55;
  color: #fff;
  overflow: hidden;
  line-height: 42px;
}

.crypto img {
  position: absolute;
  top: -6px;
  right: 0;
}

.crypto span {
  position: relative;
  z-index: 3;
}

.partners {
  padding: 95px 0 125px 0;
}

.partners__image {
  width: 100%;
  margin: 0px 0px 100px -50px;
  text-align: center;
}

.partners__image img {
  width: 81%;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__title {
  margin: 0px 0px 58px -50px;
  letter-spacing: 2px;
}

.partners__content {
  margin: 0 -55px 0 -70px;
  display: flex;
  font-size: 0;
  color: #4a4848;
  font-size: 20px;
  font-family: 'Montserrat';
  letter-spacing: 0.1px;
  line-height: 1.8;
}

.partners__content-column {
  width: 50%;
  margin: 0 55px;
}

@media (max-width: 1185px) {
  .major__title {
    font-size: 62px;
    margin: 0px 0px 30px 0px;
  }

  .major__subtitle {
    font-size: 30px;
    margin: 0px 0px 25px 0px;
  }

  .major__text {
    font-size: 16px;
    line-height: 30px;
  }

  .major__link {
    margin: 30px 0px 0px 4px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header__logo img {
    height: 33px;
  }

  .header__login-btn {
    width: 104px;
    height: 39px;
    line-height: 39px;
    font-size: 12px;
  }

  .header {
    height: 90px;
  }
}

.webp .footer-top { background: url(../img/footer-decor.webp) 65px 50% no-repeat #3863a5; }

.webp .steps__content-column::after { background: url(../img/step-arrow.webp) 50% 50% no-repeat; }

.webp .check-done { background-image: url(../img/step-check-done.webp); }

.webp .check-dis { background-image: url(../img/step-check-dis.webp); }