@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakes-Medium.woff2') format('woff2'),
        url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('../fonts/TTLakes/TTLakesCompressed-Black.eot');
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url('../fonts/TTLakes/TTLakesCompressed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakesCompressed-Black.woff2') format('woff2'),
        url('../fonts/TTLakes/TTLakesCompressed-Black.woff') format('woff'),
        url('../fonts/TTLakes/TTLakesCompressed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('../fonts/TTLakes/TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('../fonts/TTLakes/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes/TTLakesCondensed-Bold.woff2') format('woff2'),
        url('../fonts/TTLakes/TTLakesCondensed-Bold.woff') format('woff'),
        url('../fonts/TTLakes/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
  font-size: 1em;
}

*,
*::after,
*::before  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #212536;
  font-family: "TT Lakes", sans-serif;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.384615384615385;
  letter-spacing: .01em;
  font-weight: 500;
}

.preloader  {
  --duration: 1s;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2e3041;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: var(--duration);
}

.preloader-img  {
  width: 20rem;
  height: 20rem;
}
  @media (max-width: 1024px) {
    .preloader-img  {
      width: 10rem;
      height: 10rem;
    }
  }

.header {
  height: 45px;
  background: #2d304a;
  padding: 0 2rem;
}
  @media (max-width: 768px) {
    .header  {
      padding: 0 0.5rem;
    }
  }

.fixed-container  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  height: 45px;
  position: relative;
}

.menu-burger  {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  margin-right: auto;
}
  @media (min-width: 769px) {
    .menu-burger  {
      display: none;
    }
  }

.hambergerIcon  {
  height: 5px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #204d99;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all ease 0.5s;
}

.hambergerIcon::before,
.hambergerIcon::after  {
  content:"";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s;
}

.hambergerIcon::before  {
  top: -10px;
  left: 0;
  transform-origin: left;
}

.hambergerIcon::after  {
  bottom:-10px;
  right: 0;
  transform-origin: right;
}

.open  {
  transform:translate(-50%,-50%) rotate(135deg);
}

.open::before {
  top:0;
  transform: translateX(100%) rotate(-90deg);
}

.open::after  {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
}

.header-logo  {
  width: 7rem;
  height: 2rem;
  background: url('../img/logo.png') 0 100% no-repeat;
  background-size: contain;
}
  @media (max-width: 768px) {
    .header-logo  {
      order: 2;
    }
  }

.header-nav  {
  font-size: 0.7rem;
  letter-spacing: .075em;
  text-transform: uppercase;
  margin-left: 8rem;
  max-width: 20rem;
  z-index: 100;
}
    @media (max-width: 1024px) {
      .header-nav  {
        margin-left: auto;
      }
    }
      @media (max-width: 768px) {
        .header-nav  {
          display: none;
          position: absolute;
          top: 45px;
          left: 0;
        }
      }

.header-nav__list  {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
  @media (max-width: 768px) {
    .header-nav__list  {
      background-color: rgba(52,56,83,1);
      border-radius: 0 0 1rem 1rem;
    }
  }

.header-nav__list-item:hover .header-nav__list-item_link {
  color: #a9a9a9;
}

.header-nav__list-item + .header-nav__list-item  {
  margin-left: 3.5rem;
}
    @media (max-width: 768px) {
      .header-nav__list-item + .header-nav__list-item  {
        margin-left: 0;
      }
      .header-nav__list-item:not(:last-child)  {
        border-bottom: 2px solid hsla(0,0%,100%,.02);
      }
    }

.header-nav__list-item #current {
  color: #fff;
  pointer-events: none;
}

.header-nav__list-item #current .fas {
  color: #11d0f8;
}

.header-nav__list-item_link  {
  text-decoration: none;
  color: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s linear;
}
  @media (max-width: 768px) {
    .header-nav__list-item_link  {
      justify-content: flex-start;
      padding: 15px 20px;
    }
  }

.header-nav__list-item_link .fas  {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
  @media (max-width: 768px) {
    .header-nav__list  {
      flex-direction: column;
      font-size: 1.1rem;
    }
  }

.header__lang-nav  {
  height: 40px;
  width: 45px;
  margin: 0 0 0 2rem;
  transition: all .2s linear;
  cursor: pointer;
  position: relative;
  padding: 5px 13px;
  min-width: 45px;
}

.header__lang-nav:hover  {
  background-color: #262a3c;
}
  @media (max-width: 768px) {
    .header__lang-nav  {
      order: 3;
      margin-left: auto;
      margin-right: 0.5rem;
    }
  }

.header__lang-img  {
  border-radius: 3px;
  width: 19px;
  height: 13px;
}

.lang-option__container  {
  position: absolute;
  left: 0;
  top: 40px;
  padding: 5px 0;
  background-color: rgba(52,56,83,.9);
  border-radius: 0 0 0.5rem 0.5rem;
  display: none;
  z-index: 100;
}
  @media (max-width: 768px) {
    .lang-option__container  {
      left: -30px;
    }
  }

.lang-option  {
  list-style: none;
}

.lang-option::before  {
  content: "";    border-color: transparent transparent rgba(52,56,83,.9);
  border-style: solid;
  border-width: 0 .75rem .7rem;
  position: absolute;
  top: -0.45rem;
  left: 0.7rem;
}
  @media (max-width: 768px) {
    .lang-option::before  {
      left: 2.5rem;
    }
  }

.lang-option__item  {

}

.lang-option__item:not(:last-child) {
  border-bottom: 1px solid hsla(0,0%,100%,.02);
}

.lang-option__item-link  {
  display: flex;
  color: #fff;
  font-size: 0.65rem;
  text-decoration: none;
  font-weight: 700;
  padding: 0.3rem 0.75rem;
  text-transform: uppercase;
}

.lang-option__item-link img {
  width: 19px;
  height: 13px;
  border-radius: 4px;
  margin: 0 0.8rem 0 0;
}

.header-account  {
  margin-left: auto;
  text-align: center;
  height: 1.85rem;
  min-width: 23vw;
}
  @media (max-width: 768px) {
    .header-account  {
       min-width: 1rem;
       display: flex;
       justify-content: center;
       align-items: center;
       order: 4;
       margin-left: 0;;
    }
  }

.button-login  {
  display: block;
  background: url('../img/btn-purple.png') 50% 50% no-repeat;
  background-size: cover;
  font-weight: 600;
  letter-spacing: .01em;
  font-size: 0.75rem;
  color: #fff;
  line-height: 1.85rem;
  padding: 0 1em;
  text-shadow: -1px 0 0.16rem rgba(44,29,110,.75);
  border-radius: .25rem;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
  @media (max-width: 768px) {
    .button-login  {
      font-size: 1rem;
      background: none;
      padding: 0 0.5rem;
    }
  }

.button-login:hover  {
  box-shadow: 0 0 6px #703088;
}

.button-login .fab  {
  display: none;
}
  @media (max-width: 768px) {
    .button-login__text  {
      display: none;
    }
    .button-login .fab  {
      display: block;
      font-size: 1.5rem;
    }
    .button-login:hover  {
      box-shadow: none;
    }
  }





.main__fixed-container  {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.main-nav  {
  padding: 0 0 15px 0;
}

.main-nav__list  {
  display: flex;
  list-style: none;
}
  @media (max-width: 768px) {
    .main-nav__list  {
      flex-direction: column;
    }
    .main-nav  {
      padding: 0 0 25px 0
    }
  }

.main-nav__item  {
  margin: 0 30px 0 0;
  min-width: 250px;
}

.main-nav__item a {
  color: #606060;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all .2s linear;
}

.main-nav__item:hover a {
  color: #a9a9a9;
}

.main-nav__item #main-current  {
  color: #fff;
  pointer-events: none;
}

.faq-list  {
  list-style: none;
}

.faq-list__item:not(:last-child) {
  margin: 0 0 1.1rem 0;
}

.faq-list__item-button  {
  background-color: #191d2b;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  padding: 1.1rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.faq-tab  {
  background: url('../img/arrow-down.png') 50% 50% no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
  border: none;
  outline: none;
}

.faq-tab.active {
  background: url('../img/minus.png') 50% 50% no-repeat;
  background-size: contain;
}

.faq-list__desc  {
  padding: 0.8rem 2rem 1rem 2rem;
  font-size: 0.8rem;
  background: #2d3042;
  border-radius: 0 0 0.4rem 0.4rem;
  display: none;
}

.faq-list__desc p  {
  margin: 0.5rem 0 0 0;
}

.faq-list__desc-link {
  color: #14caf7;
  transition: all .1s linear;
}

.faq-list__desc-link:hover {
  color: #a74ea8;
  text-decoration: none;
}

.section-header  {
  font-size: 0.7rem;
  color: #606060;
  margin: 0 0 1rem 0;
}

.history-list-wrapper  {
  font-size: 0.8rem;
  margin: 0 0 1rem 0;
}

.history-list-wrapper .head  {
  font-weight: bold;
}

.history-list-wrapper .head:nth-child(n+1) {
  margin: 1rem 0 0 0;
}






/* .main  {
  background: linear-gradient(90deg, #1e212f 10%, #212536 50%);
} */

.main__fixed  {
  padding: 0rem;
}

.main-wrapper  {
  display: flex;
  height: calc(100vh - 45px);
}

.home-left  {
  min-width: 350px;
  background-color: #1e212f;
}

.graph-wrapper  {
  padding: 0.5rem 1rem 1.5rem 1rem;
  position: relative;
}

#canvas  {
  background: #000;
  width: 100%;
  height: 160px;
  border-radius: 5px;
}

.graph-labels  {
  font-weight: 600;
  font-size: 0.675rem;
  margin: 0.25rem 0 0 0;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}

.graph-labels__item  {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .1s linear;
  position: relative;
}

.graph-labels__item::before  {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: linear-gradient(180deg, #000 40%, #323232 100%);
}

.graph-labels__item:hover  {
  background: #3D3658;
  box-shadow: none;
}

.labels__item1  {
  background: rgb(247, 23, 244);
  border-bottom: 2px solid rgb(247, 23, 244);
}

.labels__item2  {
  background: rgb(255, 252, 0);
  border-bottom: 2px solid rgb(255, 252, 0);
}

.labels__item3  {
  background: rgb(115, 85, 162);
  border-bottom: 2px solid rgb(115, 85, 162);
}

.labels__item4  {
  background: rgb(71, 177, 123);
  border-bottom: 2px solid rgb(71, 177, 123);
}

.labels__item5  {
  background: rgb(164, 43, 63);
  border-bottom: 2px solid rgb(164, 43, 63);
}

.labels__item6  {
  background: rgb(14, 197, 229);
  border-bottom: 2px solid rgb(14, 197, 229);
}

.graph-label  {
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  height: 100%;
}

.ratio-button  {
  position: relative;
  z-index: 2;
  text-shadow: 0.799px 0.602px 3px #000;
  color: #fff;
  display: block;
  height: 100%;
  line-height: 1.8;
}

.cases  {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 269px);
}

.cases-header  {
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cases-stats  {
  color: hsla(0,0%,100%,.2);
  font-size: 0.65rem;
}

.cases-stats b {
  color: #fff;
  margin-left: 0.25rem;
}

.cases-stats .fa-dollar-sign  {
  color: #14caf7;
  margin-left: 0.1rem;
}

.cases-stats__row:not(:last-child)  {
  margin-bottom: 0.25rem;
}

.cases-checkbox  {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.65rem;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
}

input[type="checkbox"]+span {
  -webkit-appearance:none;
  width:10px;
  height:10px;
  border-radius: 2px;
  outline:none;
  margin: 0 10px 2px 0 ;
  box-sizing:border-box;
  display:inline-block;
  background: #313553;
}
input[type="checkbox"]:checked+span:before {
  content:"";
  position: absolute;
  top: 3px;
  left: -1px;
  display:block;
  width:8px;
  height:12px;
  border:0 solid rgb(58, 153, 45);
  border-width:0 2px 2px 0;
  -webkit-transform:rotateZ(45deg);
  margin:-6px 3px;
  pointer-events:none;
}

.cases-list  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0.25rem;
  height: 100%;
}

.cases-empty__text  {
  opacity: .3;
  font-size: 0.8rem;
}

.cases-controls  {
  display: flex;
  justify-content: space-between;
  padding: 0.5625rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.cases-controls .btn  {
  width: calc(50% - 0.3rem);
}

.btn  {
  font-weight: 600;
  letter-spacing: .01em;
  font-size: 0.8125rem;
  color: #fff;
  background-image: url('../img/btn-purple.png');
  line-height: 2rem;
  background-size: cover;
  background-position: 50%;
  padding: 0 0.5625em;
  text-shadow: -1px 0 0.16rem rgba(44,29,110,.75);
  border-radius: .25rem;
  overflow: hidden;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover  {
  box-shadow: 0 0 0.5rem #683a78;
}

.btn-green  {
  background-image: url('../img/btn-green.png');
}

.btn-green:hover  {
  box-shadow: 0 0 0.5rem #559e50;
}

.btn:active  {
  transform: scale(.98);
}





.home-middle  {
  width: 100%;
}

.round-inform  {
  position: relative;
  padding-top: 1.5rem;
  height: 11.8125rem;
  width: 100%;
  display: flex;
}

.notice-block  {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.35rem 1rem;
  background: linear-gradient(90deg,#971f2a,#ee095a 47%,#97202c);
  font-size: 0.675rem;
  font-weight: 700;
}

.notice-block__close  {
  background: none;
  outline: none;
  border: none;
  position: relative;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.notice-block__close:hover.notice-block__close::before,
.notice-block__close:hover.notice-block__close::after  {
  transition: all .2s linear;
  opacity: 1;
}

.notice-block__close::before,
.notice-block__close::after  {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0.5;
}

.notice-block__close::before  {
  transform: translate(-50%, -50%) rotate(45deg);
}

.notice-block__close::after  {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.round-inform__bet  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@keyframes spinCenter {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.round-inform__bet-loading  {
  font-size: 0.82125rem;
  color: hsla(0,0%,100%,.2);
  position: relative;
}

.round-inform__bet-loading::before  {
  content: "";
  width: 7.3125rem;
  height: 7.3125rem;
  background:  url('../img/loading.png') 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .1;
  animation: spinCenter 4s linear infinite;
}

.round-inform__controls  {
  width: 40%;
  color: hsla(0,0%,100%,.2);
  font-weight: 400;
  padding: 1.125rem 0.84375rem 1.125rem 0;
}

.round-inform__controls-title  {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.round-inform__controls-count  {
  max-width: 100%;
  display: inline-flex;
  margin-bottom: 0.5625rem;
  font-size: 0.9rem;
  position: relative;
}

.round-inform__controls-count .fas {
  line-height: 1.9;
  color: #11d0f8;
  margin: 0 1.3125rem;
}

.count  {
  font-size: 1.35rem;
  color: #fff;
}

.round-inform__controls-form  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5625rem;
}

.controls-form  {
  width: 100%;
}

.round-inform__controls-form .field-input  {
  width: calc(50% - 0.2rem);
  text-align: center;
  height: 1.96875rem;
  background-color: #1e212f;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

.round-inform__controls-form .controls-form__btn  {
  width: calc(50% - 0.2rem);
  font-weight: 600;
  font-size: 0.8rem;
  color: #fff;
  background:  url('../img/btn-purple.png') 50% 50% no-repeat;
  border: none;
  line-height: 1.96875rem;
  background-size: cover;
  padding: 0 0.5625em;
  text-shadow: -1px 0 0.16rem rgba(44,29,110,.75);
  border-radius: .25rem;
  overflow: hidden;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.round-inform__controls-form .controls-form__btn:active  {
  transform: scale(0.98);
}

.round-inform__controls-form .controls-form__btn:hover  {
  box-shadow: 0 0 0.5rem #683a78;
}

.round-inform__controls-form span {
  position: relative;
  left: 1.125rem;
  font-size: 0.9rem;
}

.round-stats  {
  width: 100%;
  padding: 0 0 0.84375rem 0.84375rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.7875rem;
}

.round-stats__list  {
  list-style: none;
  display: flex;
  align-items: center;
}

.round-stats__list-item  {
  display: flex;
  align-items: center;
  padding: 0 0.7em;
}

.round-stats__list-item img {
  margin-right: 0.4rem;
}

.round-stats__list-item b {
  margin-left: 0.4rem;
  color: #0dceee;
  font-weight: 700;
}

.round-stats__list-item:nth-child(3) img{
  transform: scale(-1, 1);
}

.round-list  {
  padding: 0 0.25rem 0 0.85rem;
  margin: 0 0.4rem 0 0;
  width: 100%;
  background-image: url(../img/empty.png);
  background-size: 10.575rem 9.95625rem;
  background-position: 50%;
  background-repeat: no-repeat;
  height: calc(100vh - 18.1rem);
  overflow: auto;
}

.round-list>ul {
  background: #212536;
  list-style: none;
}

.round-item  {
  background-color: #1d202e;
  padding: 0 0.5625rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.45rem;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  white-space: nowrap;
  font-size: 0.675rem;
}

.round-item__green  {
  border-color: #69eda5;
  box-shadow: inset 0 0 1.6875rem rgba(18,224,125,.7);
  background-image: url('../img/arrows-top.png');
}

.round-item__red {
border-color:#f30c3d;
box-shadow:inset 0 0 3rem rgba(243,12,61,.3);
background-image:url('../img/arrows-down.png')
}

.round-item__photo  {
  padding: 0.5625rem 0;
  width: 1.88rem;
  height: 2.625rem;
  border-radius: 0.5625rem;
  overflow: hidden;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.round-item__photo img {
  width: auto;
  height: 100%;
}

.round-item__cases  {
  display: flex;
  width: 9rem;
  padding: 0 0.5625rem;
  flex-shrink: 0;
  position: relative;
  list-style: none;
}

.round-item__cases li {
  padding: 0 0.15rem;
}

.round-item__cases  img {
  width: 3.94rem;
  height: 3.94rem;
  object-fit: contain;
  object-position: center;
}

.round-item__price  {
  width: 40%;
  padding-left: 1.125rem;
}

.round-item__price .fa-dollar-sign,
.round-item__selected-price .fa-dollar-sign  {
  font-size: 0.6rem;
  color: #1ebbf3;
  margin-left: 0.2rem;
}

.status-label  {
min-width: 4.5rem;
padding: 0 0.5625rem;
border: 1px solid #4a4d59;
text-align: center;
line-height: 1.4rem;
border-radius: .25rem;
flex-shrink: 0;
color: #4a4d59;
font-size: 0.62rem;
white-space: nowrap;
display: inline-block;
}

.status-label__green  {
  border-color: #69eda5;
}

.status-label__red {
  border-color: #f30c3d;
}

.status-label__green, .status-label__red {
  color: #fff;
}

.round-item__selected  {
  display: flex;
  align-items: center;
  padding: 0 0 0 1.125rem;
  width: 60%;
}

.round-item__selected-photo  {
  width: 2.8125rem;
}

.round-item__selected-photo img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
  object-position: center;
}

.round-item__selected-price  {
  font-weight: 700;
}











.home-middle .links  {
  text-align: center;
  font-size: 33%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: hsla(0,0%,100%,.5);
}

.home-middle .links a {
  text-decoration: none;
  color: inherit;
}

.home-middle .links a:hover {
  transition: all .1s linear;
  color: hsla(0,0%,100%,.7);
}






}



/
