.popup.popup-painting 
  .popup__content 
    .popup__body
      button.btn-reset.popup__close(aria-label="Закрыть окно") 
      .popup__imgbox
        picture.popup__picture
          source(srcset="@img/gallery/2/popup-d@2x.webp" media="(min-resolution: 1.8dppx) and (min-width: 1024px)")
          source(srcset="@img/gallery/2/popup-d@2x.jpg" media="(min-resolution: 1.8dppx) and (min-width: 1024px)")
          source(srcset="@img/gallery/2/popup-d@1x.webp" media="(min-width: 1024px)")
          source(srcset="@img/gallery/2/popup-d@1x.jpg" media="(min-width: 1024px)")
          source(srcset="@img/gallery/2/popup-t@2x.webp" media="(min-resolution: 1.8dppx) and (min-width: 768px)")
          source(srcset="@img/gallery/2/popup-t@2x.jpg" media="(min-resolution: 1.8dppx) and (min-width: 768px)")
          source(srcset="@img/gallery/2/popup-t@1x.webp" media="(min-width: 768px)")
          source(srcset="@img/gallery/2/popup-t@1x.jpg" media="(min-width: 768px)")
          source(srcset="@img/gallery/2/popup-s@2x.webp" media="(min-resolution: 1.8dppx) and (min-width: 480px)")
          source(srcset="@img/gallery/2/popup-s@2x.jpg" media="(min-resolution: 1.8dppx) and (min-width: 480px)")
          source(srcset="@img/gallery/2/popup-s@1x.webp" media="(min-width: 480px)")
          source(srcset="@img/gallery/2/popup-s@1x.jpg" media="(min-width: 480px)")
          source(srcset="@img/gallery/2/popup-m@2x.webp" media="(min-resolution: 1.8dppx) and (max-width: 480px)")
          source(srcset="@img/gallery/2/popup-m@2x.jpg" media="(min-resolution: 1.8dppx) and (max-width: 480px)")
          source(srcset="@img/gallery/2/popup-m@1x.webp" media="(max-width: 480px)") 
          source(srcset="@img/gallery/2/popup-m@1x.jpg" media="(max-width: 480px)") 
          img.popup__img.img(src="@img/gallery/2/popup-d@1x.jpg" alt="#")
      .popup__descr 
        h2.popup__author Казимир Малевич
        .popup__name &laquo;Женщина с&nbsp;граблями&raquo;
        .popup__date 1931&ndash;1932
        .popup__text.text  Картина из&nbsp;второй серии крестьянского цикла работ Казимира Малевича. Художник принялся за&nbsp;её&nbsp;создание в&nbsp;1930&ndash;1931&nbsp;годах, после того, как первый цикл был утерян после Берлинской и&nbsp;Варшавской выставок в&nbsp;1927&nbsp;году.

.popup.popup-form-message
  .popup__content 
    .popup__body
      button.btn-reset.popup__close(aria-label="Закрыть окно") 
      .popup__descr 
        h2.subtitle Спасибо за ваше обращение! Мы свяжемся с вами в ближайшее время.
      
