/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-cyrilli c_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v20-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v20-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v20-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v20-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v20-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('fonts/roboto-v20-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
  min-width: 320px;
  box-sizing: border-box;
}

*, *:before, *:after  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

  .container  {
    min-width: 320px;
    box-sizing: border-box;
  }

  .container__nav  {
    background-color:  #fbfbfb;
    position: relative;
    overflow: hidden;
  }

  .container_fixed  {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
    @media (max-width: 1250px) {
      .container_fixed {
        max-width: 1250px;
      }
    }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
    @media (max-width: 1250px) {
      .top-bar {
        max-width: 1250px;
        padding: 0 40px;
      }
    }
    @media (max-width: 1024px) {
      .top-bar {
        padding: 0 20px;
      }
    }
    @media (max-width: 768px) {
      .top-bar {
        height: 80px;
      }
    }




  /* Preloader */
.preloader  {
  --duration: 1s;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff8b5d, #ff2f96);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: var(--duration);
}

.preloader__content  {
  position: relative;
  width: 500px;
  height: 500px;
}

.preloader__content_first,
.preloader__content_second,
.preloader__content_third  {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.preloader__content_first  {
  border-bottom: 20px solid #2f0b78;
  animation: first 2s linear infinite;
}

.preloader__content_second  {
  border-right: 20px solid #ffc952;
  animation: second 2s linear infinite;
}

.preloader__content_third  {
  border-top: 20px solid #38740c;
  animation: third 2s linear infinite;
}

@keyframes first {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes second {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes third {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@media (max-width: 768px) {
  .preloader__content  {
    width: 250px;
    height: 250px;
  }
}







  /* Летающие элементы */
      .elements  {
        z-index: 50;
        position: absolute;
        font-family: "Roboto Bold", sans-serif;
        color: #fa289f;
      }
      .element1  {
        font-size: 60px;
        font-weight: bolder;
        transform: translate( -100px, 380px ) rotate(15deg);
        background: linear-gradient(165deg, #fa289f, #f35c2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      @media (max-width: 1440px) {
        .element1 {
          display: none;
        }
      }
      @media (max-width: 1024px) {
        .element1 {
          display: block;
          transform: translate( 58px, 640px ) rotate(15deg);
        }
      }
      @media (max-width: 768px) {
        .element1 {
          font-size: 30px;
          display: block;
          transform: translate( 30px, 200px ) rotate(15deg);
        }
      }

      .element2  {
        font-size: 50px;
        font-weight: bolder;
        background: linear-gradient(150deg, #fa289f, #f35c2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate( -200px, 138px ) rotate(30deg);
      }
      @media (max-width: 1600px) {
        .element2  {
          display: none;
        }
      }
      @media (max-width: 1250px) {
        .element2  {
          display: block;
          transform: translate( 77px, 160px ) rotate(30deg);
        }
      }@media (max-width: 768px) {
        .element2  {
          font-size: 25px;
          transform: translate( 49px, 95px ) rotate(30deg);
        }
      }

      .element3  {
        font-size: 40px;
        font-weight: bolder;
        background: linear-gradient(150deg, #fa289f, #f35c2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 540px;
        right: 0;
        transform: translate( -530px, 0 ) rotate(20deg);
      }
      @media (min-width: 769px) and (max-width: 1300px) {
        .element3  {
          display: none;
        }
      }
      @media (max-width: 768px) {
        .element3  {
          font-size: 20px;
          display: block;
          top: 0;
          transform: translate( -35px, 135px ) rotate(20deg);
        }
      }

      .element4  {
        font-size: 35px;
        font-weight: bolder;
        background: linear-gradient(-150deg, #fa289f, #f35c2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate(415px, 170px) rotate(-15deg);
      }
      @media (max-width: 1024px) {
        .element4  {
          right: 0;
          transform:  translate(-75px, 130px) rotate(-15deg);
        }
      }
      @media (max-width: 910px) {
        .element4  {
          display: none;
        }
      }


      .element5 {
        font-size: 45px;
        font-weight: bolder;
        background: linear-gradient(-150deg, #fa289f, #f35c2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate(0, 650px) rotate(-20deg);
      }
      @media (max-width: 1250px) {
        .element5  {
          transform: translate(200px, 600px) rotate(-20deg);
        }
      }
      @media (max-width: 1024px) {
        .element5  {
          transform: translate(318px, 585px) rotate(-20deg);
        }
      }
      @media (max-width: 950px) {
        .element5  {
          display: none;
        }
      }
      @media (max-width: 768px) {
        .element5  {
          font-size: 20px;
          display: block;
          right: 0;
          transform: translate(-125px, 85px) rotate(-20deg);
        }
      }

      .element6 {
        font-size: 45px;
        font-weight: bolder;
        background: linear-gradient(-150deg, #fa289f, #f35c2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate(390px, 242px) rotate(20deg);
      }
      @media (min-width: 1025px) {
        .element6  {
          display: none;
        }
      }
      @media (max-width: 768px) {
        .element6  {
          display: none;
        }
      }




      /* Элементы в блоке Cost */
      .elements_cost  {
        font-family: "Roboto Bold", sans-serif;
        font-weight: 400;
        color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .element1_cost  {
        transform: translate(-650px, 95px) rotate(20deg);
        font-size: 50px;
      }
      @media (max-width: 1440px) {
        .element1_cost  {
          display: none;
        }
      }
      .element2_cost  {
        font-size: 50px;
        transform: translate(-785px, -90px) rotate(20deg);
      }
      @media (max-width: 1600px) {
        .element2_cost  {
          font-size: 35px;
          transform: translate(-370px, -145px) rotate(20deg);
        }
      }
      @media (max-width: 1105px) {
        .element2_cost  {
          font-size: 35px;
          transform: translate(270px, 15px) rotate(20deg);
        }
      }
      @media (max-width: 768px) {
        .element2_cost  {
          display: none;
        }
      }
      .element3_cost {
        font-weight: bold;
        font-size: 35px;
        transform: translate(435px, 130px) rotate(20deg);
      }
      @media (max-width: 1440px) {
        .element3_cost  {
          font-size: 25px;
          transform: translate(-65px, 150px) rotate(20deg);
        }
      }
      @media (max-width: 900px) {
        .element3_cost  {
          transform: translate(0px, 150px) rotate(20deg);
        }
      }
      @media (max-width: 768px) {
        .element3_cost  {
          display: none;
        }
      }
      .element4_cost  {
        font-size: 50px;
        transform: translate(740px, 90px) rotate(-20deg);
      }
      @media (max-width: 1600px) {
        .element4_cost  {
          display: none;
        }
      }
      .element5_cost  {
        font-size: 50px;
        transform: translate(640px, -80px) rotate(-15deg);
      }
      @media (max-width: 1440px) {
        .element5_cost  {
          font-size: 35px;
          transform: translate(290px, 130px) rotate(-15deg);
        }
      }
      @media (max-width: 768px) {
        .element5_cost  {
          display: none;
        }
      }





/* Кнопка возврата в начало страницы */
.back-to-top  {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border-color: transparent;
  border-radius: 50%;
  background-color: #fa1c1c;
  z-index: 90;
  box-shadow: 0 0 15px #000000;
  display: none;
}
  @media (max-width: 768px) {
    .back-to-top  {
      width: 40px;
      height: 40px;
    }
  }

.back-to-top:hover,
.back-to-top:focus  {
  -webkit-filter: brightness(2.5);
          filter: brightness(2.5);
  outline: none;
  -webkit-transition: -webkit-filter .5s linear;
  transition: -webkit-filter .5s linear;
  -o-transition: filter .5s linear;
  transition: filter .5s linear;
  transition: filter .5s linear, -webkit-filter .5s linear;
}

.back-to-top::before,
.back-to-top::after  {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.back-to-top::before  {
  width: 5px;
  height: 25px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  top: 50%;
  left: 50%;
}

.back-to-top::after  {
  top: 42%;
  left: 50%;
  width: 15px;
  height: 15px;
  -webkit-transform:  translate(-50%, -50%) rotate(45deg);
      -ms-transform:  translate(-50%, -50%) rotate(45deg);
          transform:  translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-top-left-radius: 3px;
}




  /* Всплывающая форма при нажатии на кнопку Заказать звонок */
  .popup-wrapper  {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    font-family: "Roboto Regular", sans-serif;
    display: none;
  }

  .overlay  {
    background: #000;
    opacity: 0.65;
    width: 100%;
    height: 100%;
  }

  .popup__container  {
    width: 80%;
    max-width: 720px;
    padding: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 100;
  }
      @media (max-width: 768px) {
        .popup__container  {
          width: 100%;
          height: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 100%;
        }
      }
  .popup__content  {
    background: #fff;
    padding: 30px 20px;
    line-height: 1.3;
  }
    @media (max-width: 768px) {
      .popup__content  {
        padding: 30px 50px;
      }
    }
      @media (max-width: 425px) {
        .popup__content  {
          padding: 30px 20px;
        }
      }

  .popup__content-title  {
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
  }
    @media (max-width: 768px) {
      .popup__content-title  {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }

  .form-label  {
    margin: 0 0 20px 0;
  }
    @media (max-width: 768px) {
      .form-label  {
        font-size: 14px;
      }
    }

  .popup__form-item-box  {
    margin: 0 0 20px 0;
  }

  .popup__form-item  {
    background: #fff;
    display: inline-block;
    width: 100%;
    height: 40px;
    color: #666;
    font-size: 16px;
    line-height: 40px;
    padding: 0 40px 0 20px;
    border: 1px solid #555;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    @media (max-width: 768px) {
      .popup__form-item  {
        height: 35px;
      }
    }

  .popup__form-item:hover,
  .popup__form-item:focus  {
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 3px #000;
            box-shadow: 0 0 3px #000;
  }

  .popup__form-box-button  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px auto;
  }

  .popup__form-button  {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: 0 0;
    font-size: 20px;
    font-family: LitteraPlainBold,sans-serif;
    text-align: center;
    color: #ff2f96 ;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    padding: 15px 40px;
    margin: 0 auto;
    border: 1px solid #ff2f96 ;
    border-radius: 30px;
    outline: 0;
    cursor: pointer;
    -webkit-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
    transition: .2s all ease-in;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .popup__form-button:hover,
  .popup__form-button:focus  {
    color: #fff;
    background-color: #ff2f96 ;
  }

  .popup__note  {
    margin: 0 0 20px 0;
    color: #666;
    font-size: 14px;
  }

  .popup__note .terms-use  {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
  }

  .popup__note .terms-use:hover  {
    border-bottom: none;
  }

  .popup__btn-close  {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
  }
    @media (max-width: 768px) {
      .popup__btn-close  {
        margin: 20px;
      }
    }







  /* Кнопка раскрытия навигационной панели */
  .burger {
    width: 47px;
    height: 37px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    min-width: 24px;
  }

  .burger span {
    position: absolute;
    top: 16px;
    height: 5px;
    width: 100%;
    right: 0;
    transition: all .3s ease 0s;
    background: #f82370;
  }

  .burger.active span {
    transform: scale(0);
  }

  .burger::after, .burger::before  {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    right: 0;
    transition: all .3s ease 0s;
    background: #000;
    background: #f82370;
  }

  .burger::before  {
    top: 0px;
  }

  .burger::after  {
    bottom: 0;
  }

  .burger.active::before {
    transform: rotate(45deg);
    top: 16px;
  }

  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 16px;
  }

    @media (min-width:1025px) {
      .burger  {
        display: none;
      }
    }
    @media (max-width:768px) {
      .burger  {
        width: 24px;
        height: 18px;
      }
      .burger span {
        position: absolute;
        top: 8px;
        height: 2px;
        width: 100%;
        right: 0;
      }
      .burger::before  {
        top: 0;
      }
      .burger::after  {
        bottom: 0;
      }
      .burger::after, .burger::before  {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        transition: all .3s ease 0s;
      }
      .burger.active::before {
        transform: rotate(45deg);
        top: 8px;
      }
      .burger.active::after {
        transform: rotate(-45deg);
        bottom: 8px;
      }
    }

  .navigation  {
    display: flex;
    align-items: center;
    list-style: none;
    flex-grow: 1;
  }

  .nav__item  {
    font-size: 12px;
    height: 100px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    width: 115px;
  }

  .nav__item a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .nav__item a:hover  {
    color: #fc557c;
    font-weight: bolder;
  }

  .nav__item a::after,
  .nav__item a::before  {
    content: '';
    transition: all .4s linear;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #fc557c;
  }

  .nav__item a::before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
  }

  .nav__item a::after  {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
  }

  .nav__item a:hover:before,
  .nav__item a:hover:after  {
    transform: scale(1, 1);
  }


      @media (max-width:1025px) {
        .navigation  {
          display: none;
          position: absolute;
          top: 100px;
          left: 0;
          flex-direction: column;
          background-color: #fff;
          width: 500px;
          z-index: 100;
        }
        .nav__item{
          width: 100%;
          height: 50px;
          font-size: 20px;
          font-weight: bold;
          margin: 0;
          display: flex;
          align-items: center;
          padding: 10px 20px;
          box-sizing: border-box;
          background: transparent;
          border: 1px solid #eaeaea;
        }
        .nav__item:first-child  {
          margin: 0;
        }
      }
      @media (max-width:768px)  {
        .navigation  {
          width: 100%;
          top: 80px;
          z-index: 100;
        }
      }

  .telephone__box  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

    @media (max-width:1025px) {
      .telephone__box  {
        flex-grow: 1;
        justify-content: space-between;
      }
    }

  .telephone  {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin: 0 30px;
    white-space: nowrap;
    font-family: "Roboto Bold", sans-serif;
    position: relative;
  }
    @media (max-width: 768px) {
      .telephone  {
        font-size: 16px;
      }
    }

  .telephone::before  {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transition: all .2s linear;
  }

  .telephone:hover:before  {
    transform: scaleX(1);
  }

  @keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }

  .request-call__wrapper {
    position: relative;
    overflow: hidden;
  }

  .request-call  {
    width: 210px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #f82370;
    border: 1px solid #f82370;
    transition: all 0.2s ease-in-out;
    font-family: "Roboto Regular", sans-serif;
    font-size: 16px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .request-call::before  {
    content: "";
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    width: 50px;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }

  .request-call:hover  {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
    border-bottom: 4px solid #c80000;
    border-radius: 5px;
  }

  .request-call:hover:before  {
    transform: skewX(-45deg) translateX(20em);
    transition: all 0.6s ease-in-out;
  }

  .request-call  i {
    margin: 0;
  }

  .fas {
    text-transform: uppercase;
    background: linear-gradient(#d91e94, #d6603b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    margin: 0 20px 0 0;
  }

    @media (min-width:769px) {
      .request-call  i  {
        display: none;
      }
    }

    @media (max-width:768px) {
      .request-call  {
        width: 35px;
        height: 35px;
        border: 1px solid #f90e89;
        border-radius: 50%;
        outline: none;
        background-color: #fbfbfb;
        padding: 0;
        color: #fff;
      }
      .request-call:hover .fas  {
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .request-call  span {
        display: none;
      }
    }



/* Всплывающая форма при нажатии на кнопку Заказать звонок */






/* Экран №1 */
  .about__me  {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  @media (max-width: 1250px) {
    .about__me {
      max-width: 1250px;
      padding: 0 40px;
    }
  }


    .about__me_text  {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .Name {
      font-family: 'Roboto Black', sans-serif;
      font-size: 75px;
      margin: 0 0 20px 0;
      cursor: pointer;
    }
      @media (max-width: 1024px) {
        .Name  {
          font-size: 50px;
        }
      }

    .Prof {
      color: #8993ad;
      font-size: 24px;
      font-family: 'Roboto Regular', sans-serif;
      cursor: pointer;
    }
      @media (max-width: 1024px) {
        .Prof  {
          font-size: 20px;
        }
      }

    .button__out  {
      width: 270px;
      height: 60px;
      background-color: #ff4e2e;
      color: #fff;
      font-size: 18px;
      margin: 100px 0 0 0;
      transition:800ms ease all;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: 'Roboto Regular', sans-serif;
      position: relative;
    }

    .button__out:hover{
      background:#fbfbfb;
      color:#ff4e2e;
    }

    .button__out:before,.button__out:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:3px;
      width:0;
      background: #ff4e2e;
      transition:400ms ease all;
    }

    .button__out:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }

    .button__out:hover:before,.button__out:hover:after{
      width:100%;
      transition:800ms ease all;
    }

    .get_to_know  {
      margin: 45px 0 0 0;
    }

    .Me  {
      position: relative;
      right: -81px;
      bottom: -15px;
      z-index: 2;
    }
      @media (max-width: 1300px) {
        .Me  {
          right: 0;
        }
      }

    .ellipse  {
      position: absolute;
      bottom: -139px;
      right: -498px;
      width: 1010px;
      height: 780px;
      z-index: 1;
    }
     @media (max-width: 1300px) {
       .ellipse  {
         right: -300px;
       }
     }
      @media (max-width: 1024px) {
        .ellipse  {
          height: 645px;
          right: -422px;
          bottom: -109px;
        }
      }

    @media (max-width: 768px) {
      .about__me  {
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        height: 570px;
      }
      .about__me_text  {
        order: 2;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        display: flex;
        align-items: center;
        z-index: 10;
        position: relative;
        background-color: #fff;
      }
      .button__out  {
        width: 60%;
        height: 55px;
        margin: 25px 0 0 0;
      }
      .about__me_image  {
        order: 1;
      }
      .Me  {
        right: 0;
        bottom: -50px;
        height: 329px;
      }
      .ellipse  {
        width: 484px;
        height: 400px;
        bottom: -110px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
      .Name  {
        font-size: 30px;
        margin: 0 0 10px 0;
      }
      .Prof  {
        font-size: 16px;
      }
    }

    @media (max-width: 425px) {
      .button__out  {
        width: 100%;
      }
    }







/* Блок "Что я делаю" */
.services  {
  padding: 0 40px;
}
  @media (max-width: 1024px) {
    .services  {
      padding: 0 20px;
    }
  }

.container_services_fixed  {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services__text  {
  font-size: 54px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 99px 0 0 0;
}
  @media (max-width: 768px) {
    .services__text  {
      font-size: 30px;
      padding: 49px 0;
    }
  }

.services__examples  {
  margin: 85px 0 95px 0;
  display: flex;
}

.services__item  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto Regular", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #8993ad;
}

.services__item  span {
  margin: 20px 0 0 0;
  padding: 0 10px;
}

  @media (max-width: 1024px) {
    .services__examples {
      flex-wrap: wrap;
    }
    .services__item  {
      width: 50%;
      margin: 40px 0;
    }
    .services__item  span {
      width: 280px;
    }
  }

  @media (max-width: 768px) {
    .services__examples {
      flex-wrap: wrap;
      margin: 0;
    }
    .services__item  {
      width: 100%;
      min-width: 364px;
      margin: 40px 0;
      font-size: 16px;
    }
    .services__item img {
      width: 61px;
      height: 56px;
    }
    .services__item:first-child  {
      margin: 0 0 40px 0;
    }
    .services__item:last-child  {
      margin: 40px 0 50px 0;
    }
  }

  @media (max-width: 768px) {
    .services__item  {
      min-width: 280px;
    }
  }

.find-out__cost  {
  margin: 0 0 100px 0;
}









/* Слайдер с примерами работ */
.works  {
  background-color: #fbfbfb;
  padding: 0 40px;
}
  @media (max-width: 1024px) {
    .works  {
      padding: 0 20px;
    }
  }

.container__works_fixed   {
  max-width: 1200px;;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

.examles__works_text  {
  font-size: 54px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 90px 0;
}
  @media (max-width: 768px) {
    .examles__works_text  {
      font-size: 30px;
      padding: 49px 0;
    }
  }

.slider  {
  width: 100%;
  position: relative;
  min-width: 0;
}

.slick-list  {
  overflow: hidden;
}

.slick-track  {
  display: flex;
  width: 100%;
}

.slider__item  {
  height: 346px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: none;
  margin: 0 15px;
}
  @media (max-width: 768px) {
    .slider__item  {
      margin: 0;
      height: 285px;
    }
  }

.slider__item_img  {
  height: 290px;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
  @media (max-width: 768px) {
    .slider__item_img  {
      height: 250px;
    }
  }

.slider__item_img  img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
  @media (max-width: 768px) {
    .slider__item_img  img {
      height: 100%;
    }
  }

.slider__item_text  {
  font-size: 18px;
  font-family: "Roboto Medium", sans-serif;
  color: #8993ad;
  cursor: pointer;
}
  @media (max-width: 768px) {
    .slider__item_text {
      font-size: 16px;
    }
  }

.slider .slick-arrow  {
  position: absolute;
  top: 35%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all .2s linear;
}

.slider .slick-arrow:hover  {
  border-radius: 25%;
}

.slider .slick-arrow.slick-prev  {
  left: -15px;
  background: url('../img/l_arrow.png') center center no-repeat #fff;
}

.slider .slick-arrow.slick-next  {
  right: -15px;
  background: url('../img/r_arrow.png') center center no-repeat #fff;
}

.slider .slick-dots  {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}
  @media (max-width: 768px) {
    .slider .slick-dots  {
      height: 50px;
    }
  }

.slider .slick-dots li  {
  list-style: none;
  margin: 0 30px;
}
  @media (max-width: 768px) {
    .slider .slick-dots li  {
      margin: 0 15px;
    }
  }

.slider .slick-dots li.slick-active button {
  background-color: #de4f33;
  border: none;
}

.slider .slick-dots  button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #ebebeb;
  border-radius: 50%;
  border: none;
  outline: none;
}

.order__project  {
  margin: 100px 0;
}
  @media (max-width: 768px) {
    .order__project  {
      margin: 50px 0;
    }
  }









  /* Сроки и стоимость */
    .cost  {
      background: linear-gradient(to top right, #ff8f5a 30%, #ff2f96 70%);
      padding: 0 40px;
      box-sizing: border-box;
      height: 360px;
      position: relative;
      z-index: 10;
      overflow: hidden;
    }

    .container__adaptive-layout_fixed  {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }

    .adaptive-layout  {
      padding: 0 100px;
      min-width: 280px;
    }

    .adaptive-layout__text  {
      font-size: 45px;
      color: #fff;
      font-family: "Roboto-Bold", sans-serif;
    }

    .adaptive-layout__remark  {
      color: #ffe3da;
      font-size: 18px;
      font-family: "Roboto Regular", sans-serif;
      margin: 40px 0 0 0;
      padding: 0 70px 0 0;
    }

      @media (max-width: 1440px) {
        .adaptive-layout  {
          padding: 0 50px;
        }
      }
      @media (max-width: 1024px) {
        .adaptive-layout  {
          padding: 0 20px;
        }
      }
      @media (max-width: 768px) {
        .adaptive-layout__text  {
          font-size: 26px;
        }
        .adaptive-layout__remark  {
          font-size: 14px;
          padding: 0;
        }
      }








/* Футер */
.container__footer_fixed  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 262px;
  padding: 0 40px;
}
  @media (max-width: 768px) {
    .container__footer_fixed  {
      flex-wrap: wrap;
      height: 315px;
      padding: 0 20px;
    }
  }
  @media (max-width: 450px) {
    .container__footer_fixed  {
      height: 360px;
      display: block;
    }
  }

.anchors  {
  list-style: none;
}

.footer__menu li {
  margin: 20px 0;
}

.footer__menu  {
  margin: 0 30px 0 0;
}
  @media (max-width: 450px) {
    .footer__menu  {
      margin: 20px 30px 20px 0;
    }
    .footer__menu li {
      margin: 10px 0;
      font-size: 15px;
    }
    .footer__menu ul {
      display: flex;
      width: 100%;
    }
  }

.footer__menu_item  {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  margin: 10px 10px;
  text-decoration: none;
  color: #8993ad;
  position: relative;
}

.footer__menu_item::before  {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #8993ad;
  transform: scaleX(0);
  transition: all .2s linear;
}

.footer__menu_item:hover:before  {
  transform: scaleX(1);
}

.footer__phone_mail  {
  margin: 0 30px 0 0;
}
  @media (max-width: 375px) {
    .footer__phone_mail  {
      margin: 0;
    }
  }

.footer__phone_mail ul {
  display: flex;
  flex-direction: column;
}

.footer__communication-item  {
  list-style: none;
}

.footer__communication-item:first-child,
.footer__communication-item:nth-child(2){
  margin: 0 0 15px 0;
}
  @media (max-width: 450px) {
    .footer__communication-item:nth-child(2) {
      order: 3;
      margin: 0;
    }
    .footer__communication-item:first-child  {
      order: 2;
    }
  }

.communication  {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

.communication a {
  text-decoration: none;
  color: #000;
  position:  relative;
}

.communication a::before  {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transition: all .2s linear;
}

.communication:hover a::before  {
  transform: scaleX(1);
}

.footer__communication-item:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Regular", sans-serif;
}
  @media (max-width: 450px) {
    .footer__communication-item:nth-child(3) {
      order: 1;
      margin: 0 0 30px 0;
      justify-content: flex-start;
    }
  }

.share-button{
  position:relative;
  height:36px;
  width:135px;
  background:#ff8f5a ;
  border-radius:20px;
  overflow:hidden;
  line-height:36px;
  user-select: none;
  box-shadow: 0 0 7px #000;
}

.share-button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 0 0 50px #ff8f5a;
  box-sizing: content-box;
  transform: translate(0,0);
  border-radius: 50px;
  z-index: 3;
  pointer-events: none;
}
.lid{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#ff2f96 ;
  border-radius:20px;
  color:#fff;
  transition: 300ms ease all;
  transform-origin: 0 0;
  cursor: pointer;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open .lid{
  transform:rotateX(90deg);
}
.thank-you {
  position:absolute;
  top: -100px;
  left: 0;
  width: 100%;
  color: #fff;
  transition: 300ms ease all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thankyou .thank-you{
  position:absolute;
  top:0px;
}
.share-item{
  display:block;
  color:#368b8b;
  background:#fff;
  text-decoration:none;
  height:30px;
  width:30px;
  text-align:center;
  line-height:30px;
  border-radius:50%;
  float:left;
  margin-left:3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: 500ms ease all;
}
.share-item:active{
  background:#eb4c89;
  transition: 50ms ease all;
}
.share-item:nth-child(1){
transform: translateX(200px) rotate(180deg);
}
.share-item:nth-child(2){
transform: translateX(400px) rotate(200deg);
}
.share-item:nth-child(3){
transform: translateX(580px) rotate(220deg);
}
.share-item:nth-child(4){
transform: translateX(740px) rotate(240deg);
}
.share-item:nth-child(5){
transform: translateX(880px) rotate(260deg);
}
.share-item:nth-child(6){
transform: translateX(1000px) rotate(280deg);
}
.open .share-item{
transform: translateX(0) rotate(0);
margin-left:3px;
}
.share-items {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 3px 0;
  width: 201px;
}
.share-items-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width : 267px;
  left: 50%;
  margin-left:-133.5px;
}
.shared .share-item{
  transform :translateY(200px);
}
.shared .share-item:nth-child(1){
  transition: 200ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(2){
  transition: 600ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(3){
  transition: 1000ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(4){
  transition: 1400ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(5){
  transition: 1800ms cubic-bezier(.32,-0.22,.9,.93) all;
}
.shared .share-item:nth-child(6){
  transition: 2200ms cubic-bezier(.32,-0.22,.9,.93) all;
}


.footer__request-call  {
  width: 248px;
  height: 45px;
  border: 1px solid #f82370;
  text-align: center;
  text-decoration: none;
  color: #f82370;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s linear;
  margin: 30px 0 0 0;
  background-color: #fff;
  font-family: "Roboto Regular", sans-serif;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
  @media (max-width: 768px) {
    .footer__request-call  {
      background-color: #ff4e2e;
      color: #fff;
    }
  }
  @media (max-width: 450px) {
    .footer__request-call  {
      width: 100%;
    }
  }

.footer__request-call::before  {
  content: "";
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  width: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.footer__request-call:hover  {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid #ff0000;
  border-bottom: 4px solid #c80000;
  border-radius: 5px;
}

.footer__request-call:hover:before  {
  transform: skewX(-45deg) translateX(30em);
  transition: all 0.6s ease-in-out;
}

.net  {
  width: 200px;
  display: flex;
  margin: 30px 0;
}

.net  li {
  width: 50px;
  height: 30px;
  position: relative;
  list-style: none;
}

.net__item  {
  width: 50px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}

.VK  {
  background: url('../img/sprite.png') 0 -4px no-repeat;
}

.FB  {
  background: url('../img/sprite.png') -48px -4px no-repeat;
}

.TW  {
  background: url('../img/sprite.png') -100px -4px no-repeat;
}

.INST  {
  background: url('../img/sprite.png') right -4px no-repeat;
}

.copywrite  {
  background: #31293c;
  height: 80px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Regular", sans-serif;
}
  @media (max-width: 768px) {
    .copywrite  {
      height: 50px;
      font-size: 12px;
    }
  }
