.catalog {
  padding-bottom: 40px;

  @media (max-width: $md5) {
    padding-bottom: 25px;
  }

  &__container {
  }

  &__title {
    @media (max-width: $md5) {
      margin-bottom: 11px;
    }
  }

  &__descr {
    margin-bottom: 39px;

    @media (max-width: $md3) {
      margin-bottom: 20px;
    }

    @media (max-width: $md5) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md3) {
      flex-direction: column;
    }
  }

  &__showcase {
    position: relative;
    flex: 1 1 750px;

    @media (max-width: $md1) {
      flex: 1 1 437px;
    }

    @media (max-width: $md3) {
      margin-top: 48px;
      order: 1;
    }

    @media (max-width: $md5) {
      margin-top: 50px;
    }
  }

  &__datelist {
    flex: 0 1 800px;
    max-width: 50%;
    margin-left: 50px;

    @media (max-width: $md1) {
      flex: 1 1 437px;
    }

    @media (max-width: $md3) {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

.showcase-load {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    display: flex;
    opacity: 1;
  }
}

.showcase {
  &.hide {
    display: none;
  }

  &__img {
    margin-bottom: 31px;

    @media (max-width: $md4) {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 8px;

    @media (max-width: $md2) {
      margin-bottom: 10px;
    }

    @media (max-width: $md5) {
      margin-bottom: 8px;
    }
  }

  &__date {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    color: #999999;

    @media (max-width: $md4) {
      margin-bottom: 5px;
    }

    @media (max-width: $md5) {
      margin-bottom: 13px;
    }
  }

  &__descr {
    @media (max-width: $md5) {
      font-size: 16px;
      line-height: 32px;
    }
  }
}

.showcase-empty {
  display: none;

  &.show {
    display: block;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16.4% 0;
    margin-bottom: 30px;
    background-color: $gallery;

    @media (max-width: $md1) {
      padding: 8.25% 0;
    }

    @media (max-width: $md3) {
      padding: 10.2% 0;
    }

    @media (max-width: $md5) {
      padding: 8.5% 0;
      margin-bottom: 20px;
    }
  }

  &__img {
    max-width: 31.5%;

    @media (max-width: $md1) {
      max-width: 38.76%;
    }

    @media (max-width: $md3) {
      max-width: 36.9%;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $doveGray;

    @media (max-width: $md5) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__descr {
    margin-bottom: 15px;

    @media (max-width: $md1) {
      line-height: 22px;
    }

    @media (max-width: $md5) {
      margin-bottom: 5px;
      max-width: 80%;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $amethyst;

    &:focus {
      background-color: $amethyst;
      color: $white;
    }

    &:active {
      background-color: transparent;
      color: $amethyst;
      transition-duration: 0.05s;
    }

    &:active:after {
      transform: scaleX(1);
      background-color: transparent;
      transition-duration: 0.05s;
    }
  }
}

.datelist {
  &__item {
    margin-top: -1px;

    &:first-child {
      margin-top: 0;
    }

    &:focus {
      outline: none;
    }

    &:first-child .datelist__top {
      margin-top: 0;
      border-top: 1px solid $silver;
    }

    & .datelist__top:hover {
      border-color: $amethyst;
    }

    & .datelist__top:active {
      border-color: $royalPurple;
      transition-duration: 0.05s;
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 34px;
    padding-bottom: 33px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $silver;
    transition: border 0.3s ease-in-out;

    @media (max-width: $md5) {
      // padding: 20px 0;
      padding-top: 20.5px;
      padding-bottom: 20px;
    }

    &.active .datelist__icon {
      transform: rotate(180deg);
    }

    &:focus .datelist__subtitle {
      color: $white;
      background-color: $amethyst;
    }

    &:hover .datelist__subtitle {
      color: $amethyst;
      background-color: transparent;
    }

    &:active .datelist__subtitle {
      color: $royalPurple;
      background-color: transparent;
      transition-duration: 0.05s;
    }

    &:focus .datelist__icon,
    &:hover .datelist__icon {
      background-color: $bilobaFlower;
    }

    &:active .datelist__icon {
      border-color: $amethyst;
      background-color: $bilobaFlower;
      transition-duration: 0.05s, 0.05s, 0.2s;
    }
  }

  &__subtitle {
    margin-right: -5px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $mineShaft;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;

    @media (max-width: $md5) {
      font-size: 18px;
    }
  }

  &__icon {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid transparent;
    border-radius: 100%;
    background-color: $gallery;
    transition:
      background-color 0.2s ease-in-out,
      border 0.2s ease-in-out,
      transform 0.2s ease-in-out;

    @media (max-width: $md5) {
      width: 30px;
      height: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 50%;
      width: 12px;
      height: 12px;
      border-bottom: 1px solid $black;
      border-left: 1px solid $black;
      transform: translate(-50%, -50%) rotate(-45deg);

      @media (max-width: $md5) {
        width: 7px;
        height: 7px;
      }
    }
  }

  &__bottom {
    display: none;
    width: 100%;
  }
}

.artlist {
  display: grid;
  grid-template-rows: repeat(auto-fit, 32px);
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-auto-flow: column;
  padding: 25px 0;
  padding-right: 70px;
  min-height: 350px;

  @media (max-width: $md1) {
    min-height: 430px;
    padding-right: 0;
    margin-right: -85px;
  }

  @media (max-width: $md3) {
    margin-right: -70px;
    min-height: calc(434px + (96 + 96 * 3) * ((480px - 100vw) / 992));
  }

  @media (max-width: $md5) {
    padding: 20px 0;
    min-height: 100%;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  &__item {
    display: flex;
  }

  &__link {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    color: $mineShaft;
    white-space: nowrap;
    overflow: hidden;

    &:focus {
      color: $mineShaft;
    }

    &:focus:hover:active::after {
      opacity: 0;
      transition-duration: 0.1s;
    }

    &::after {
      bottom: 2px;
    }
  }
}

.empty-dateitem {
  display: flex;
  align-items: center;
  padding: 25px 0;

  &__ava {
    flex: 0 0 43.48%;
    position: relative;
    max-width: 275px;
    padding-top: min(190px, 28%);
    border: 2px solid $dustyGray;

    @media (max-width: $md5) {
      max-width: 90px;
      height: 130px;
      padding-top: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      background-color: $dustyGray;

      @media (max-width: $md1) {
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
      }

      @media (max-width: $md5) {
        top: 6px;
        right: 6px;
        bottom: 6px;
        left: 6px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 275px;
    margin-left: 25px;

    // @media (max-width: $md1) {
    //   max-width: 220px;
    // }
  }

  &__title {
    @media (max-width: $md5) {
      font-size: 18px;
    }
  }

  &__text {
    margin-top: 5px;
    line-height: 22px;

    @media (max-width: $md5) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__link {
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $amethyst;

    &:focus {
      background-color: $amethyst;
      color: $white;
    }

    &:active {
      background-color: transparent;
      color: $amethyst;
      transition-duration: 0.05s;
    }

    &:active:after {
      transform: scaleX(1);
      background-color: transparent;
      transition-duration: 0.05s;
    }
  }
}
