.gallery {
  background-image: url("@img/gallery/bg-d@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $md2) {
    background-image: url("@img/gallery/bg-t@1x.jpg");
  }

  @media (max-width: $md4) {
    background-image: url("@img/gallery/bg-s@1x.jpg");
  }

  @media (max-width: $md5) {
    background-image: url("@img/gallery/bg-m@1x.jpg");
  }

  @media (min-width: $md2) and (min-resolution: 1.8dppx) {
    background-image: url("@img/gallery/bg-d@2x.jpg");
  }

  @media (max-width: $md2) and (min-resolution: 1.8dppx) {
    background-image: url("@img/gallery/bg-t@2x.jpg");
  }

  @media (max-width: $md4) and (min-resolution: 1.8dppx) {
    background-image: url("@img/gallery/bg-s@2x.jpg");
  }

  @media (max-width: $md5) and (min-resolution: 1.8dppx) {
    background-image: url("@img/gallery/bg-m@2x.jpg");
  }

  &__container {
    display: flex;

    @media (max-width: $md4) {
      flex-wrap: wrap;
    }
  }

  &__content {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    min-width: 280px;

    @media (max-width: $md4) {
      flex: 0 0 100%;
      margin-bottom: 40px;
    }

    @media (max-width: $md5) {
      margin-bottom: 29px;
    }
  }

  &__slider {
    position: relative;
    flex: 1 1 75%;
    margin-left: 50px;
    padding-top: 85px;

    @media (max-width: $md4) {
      margin-left: 0;
      padding-top: 0;
    }

    @media (max-width: $md5) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__nav {
    position: absolute;
    top: 25px;
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;

    @media (max-width: $md2) {
      left: 1px;
    }

    @media (max-width: $md4) {
      position: static;
      justify-content: space-between;
      margin-bottom: 28px;
    }

    @media (max-width: $md5) {
      width: 100%;
      margin-bottom: 0;
      margin-top: 20px;
      justify-content: center;
    }

    // & .swiper-button-next {
    //   margin-left: 11px;
    // }
  }

  &__pagination {
    margin: 0 11px;

    @media (max-width: $md5) {
      margin: 0 20px;
    }
  }

  &__wrapper {
    @media (max-width: $md4) {
      max-height: 330px;
    }

    @media (max-width: $md5) {
      max-height: 367px;
    }
  }

  &__slide {
    position: relative;
    min-height: 265px;
    overflow: hidden;

    @media (max-width: $md2) {
      min-height: 315px;
    }

    @media (max-width: $md4) {
      min-height: auto;
    }
  }

  &__link {
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 20px;
      right: 25px;
      bottom: 30px;
      left: 25px;
      background-image: url("@img/icons/magnifier.svg");
      background-position: 50% 46%;
      background-repeat: no-repeat;
      background-size: 81px 79px;
      background-color: $blackOpacityHalf;
      opacity: 0;
      transform: scale(1.2);
      transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 3px solid transparent;
      opacity: 0;
      transition:
        border 0.2s ease-in-out,
        background-color 0.1s ease-in-out,
        opacity 0.1s ease-in-out;
    }

    &:focus:after {
      border-color: $royalPurple;
      opacity: 1;
    }

    @media (min-width: $md3) {
      &:hover:before {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:active:after {
      opacity: 1;
      background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    }
  }
}

.filter {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $md4) {
    max-width: 280px;
  }

  @media (max-width: $md5) {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 10px;
    font-family: "OpenSans-SemiBold";
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: $white;

    @media (max-width: $md5) {
      margin-bottom: 5px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (max-width: $md2) {
      padding-bottom: 35px;
    }

    @media (max-width: $md4) {
      padding-bottom: 0;
    }

    & .select {
      @media (max-width: $md4) {
        margin-bottom: 40px;
      }

      @media (max-width: $md5) {
        margin-bottom: 30px;
      }
    }
  }
}
