- var dateItems = [['Бенедетто ди Биндо', 'Бергоньоне, Амброджо', 'Биссоло, Франческо', 'Больтраффио, Джованни', 'Бонсиньори, Франческо', 'Боттичини, Рафаэлло', 'Брамантино', 'Бреа, Людовико', 'Бьяджо д\'Антонио Туччи', 'Веккьетта', 'Андреа Верроккьо', 'Доменико Гирландайо', 'Беноццо Гоццоли', 'Граначчи, Франческо', 'Грегорио ди Чекко', 'Джованни да Удине', 'Джованни ди Паоло', 'Джорджоне', 'Парентино, Бернардо', 'Пезеллино', 'Пьетро Перуджино', 'Перуцци, Бальдассаре', 'Пизанелло', 'Пинтуриккьо'], ['Аббате, Никколо дель', 'Агостини, Джованни Антонио', 'Алибранди, Джироламо', 'Доссо Досси', 'Перино дель Вага', 'Понтормо', 'Превитали, Андреа', 'Рафаэль Санти', 'Камбьязо, Лука', 'Тасси, Агостино', 'Ло Спанья', 'Луини, Бернардино', 'Вазари, Джорджо', 'Мансуэти, Джованни ди Никколо', 'Фонтана, Просперо', 'Россо Фьорентино', 'Мороне, Франческо'], false, false, false, false, false]
- var dateList = ['C 1400 по 1499 гг', 'C 1500 по 1599 гг', 'C 1600 по 1699 гг', 'C 1700 по 1799гг', 'C 1800 по 1899 гг', 'C 1900 по 1999 гг', 'C 2000 г']
- var ariaDateTitles = ['С тысяча четырёхсотого по тысяча четыреста девяносто девятый годы', 'С тысяча пятисотого по тысяча пятьсот девяносто девятый годы', 'С тысяча шестисотого по тысяча шестьсот девяносто девятый годы', 'С тысяча семисотого по тысяча семьсот девяносто девятый годы', 'С тысяча восмисотого по тысяча восемьсот девяносто девятый годы', 'С тысяча девятисотого по тысяча девятьсот девяносто девятый годы', 'С двухтысячного года']

section.section.catalog#catalog
  .container.catalog__container 
    h2.title.catalog__title Каталог
    p.text.section__descr.catalog__descr Акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и&nbsp;морали. Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство, нанотехнологии и&nbsp;по&nbsp;сей день остаются уделом либералов, которые жаждут быть функционально разнесены на&nbsp;независимые элементы.
    .catalog__content

      .catalog__showcase#showcase
        .showcase-load
          img(src="@img/icons/spinner.gif", alt="Loading")
        .showcase
          .showcase__img 
            img.img(src="@img/catalog/12/catalog-d@1x.jpg" alt="Доменико Гирландайо")
          h3.subtitle.showcase__title Доменико Гирландайо
          div.showcase__date 2&nbsp;июня 1448&ndash;11 января 1494
          p.text.showcase__descr Один из&nbsp;ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и&nbsp;сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в&nbsp;течение года овладевал профессиональными навыками. Автор фресковых циклов, в&nbsp;которых выпукло, со&nbsp;всевозможными подробностями показана домашняя жизнь библейских персонажей (в&nbsp;их&nbsp;роли выступают знатные граждане Флоренции в&nbsp;костюмах того&nbsp;времени).
        .showcase-empty
          .showcase-empty__picture 
            img.showcase-empty__img(src="@img/catalog/artist.svg" alt="Артист не найден")
            span.showcase-empty__text Х — Художник
          h3.subtitle.showcase-empty__title Что мы&nbsp;о&nbsp;нём знаем?
          p.text.showcase-empty__descr Пока ничего... Зато мы&nbsp;точно знаем, что в&nbsp;галерее есть на&nbsp;что посмотреть!
          a.showcase-empty__link.link(href="#") В галерею

      ul.catalog__datelist.datelist.spollers.one
        - var n = 0 
        each val, ind in dateList
          li.datelist__item 
            button.btn-reset.datelist__top.spoller(type="button" aria-label=ariaDateTitles[ind])
              span.subtitle.datelist__subtitle #{val}
              span.datelist__icon.spoller-icon
            .datelist__bottom 
              if dateItems[ind]
                ul.datelist__art-list.artlist
                  each art in dateItems[ind]
                    li.artlist__item 
                      - n++
                      a.artlist__link.link.link_addr(href="#showcase" data-id=`${n}`) #{art}
              else
                .datelist__empty.empty-dateitem
                  .empty-dateitem__ava 
                  .empty-dateitem__content 
                    h3.subtitle.empty-dateitem__title Здесь пока пусто
                    p.text.empty-dateitem__text А&nbsp;в&nbsp;галерее вы&nbsp;всегда можете найти что-то интересное для себя
                    a.empty-dateitem__link.link(href="#") В галерею

