- var altProjects = ['Froolands Foundation', 'Institute for Contemporary Art', 'Workhouse Art Center', '1849 Wine.co', 'Hiscox', 'Camden Art Centre', 'Stassen Premium Belgian Cider', 'Watts Gallery Artists Village', 'eSAD ecole superieure d\'art et de design de valenciennes']

section.section.projects#projects
  .container.projects__container 
    h2.title.projects__title Проекты
    p.section__descr.projects__descr.text 
      | Предварительные выводы: постоянное информационно-пропагандистское обеспечение нашей деятельности однозначно фиксирует необходимость своевременного выполнения сверхзадачи. А&nbsp;ещё независимые государства смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершённой неузнаваемости, из-за чего возрастает их&nbsp;статус бесполезности. Прежде всего, постоянное информационно-пропагандистское 
      span.tooltip
        button.tooltip__btn.btn-reset(aria-describedby="tooltip1")
        span.tooltip__cloud#tooltip1(role="tooltip") Текст тултипа
          span.tooltip__arrow(data-popper-arrow) 
      | обеспечение нашей деятельности однозначно фиксирует необходимость экономической целесообразности принимаемых решений. И&nbsp;нет сомнений, что действия представителей оппозиции могут быть рассмотрены 
      span.tooltip
        button.tooltip__btn.btn-reset(aria-describedby="tooltip2")
        span.tooltip__cloud#tooltip2(role="tooltip") Текст тултипа
          span.tooltip__arrow(data-popper-arrow)
      | исключительно в&nbsp;разрезе маркетинговых и&nbsp;финансовых
      span.tooltip
        button.tooltip__btn.btn-reset(aria-describedby="tooltip3")
        span.tooltip__cloud#tooltip3(role="tooltip") Текст тултипа
          span.tooltip__arrow(data-popper-arrow)
      | предпосылок. Банальные, но&nbsp;неопровержимые выводы, а&nbsp;также представители современных социальных резервов призывают нас к&nbsp;новым свершениям, которые, в&nbsp;свою очередь, должны быть смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени совершённой неузнаваемости. Подробнее: 
      a.link.link_addr.projects__link(href="#") blanchard-art.ru/projects

    h3.subtitle.projects__subtitle Партнёры проектов:
    .projects__slider-container
      .projects__nav 
        .swiper-button-prev.swiper-button.swiper-button_light
        .swiper-button-next.swiper-button.swiper-button_light
      .swiper.projects__slider
        ul.swiper-wrapper.projects__wrapper
          - var n = 0 
          each val in altProjects
            li.swiper-slide.projects__slide 
              - n++
              a.projects__slide-link(href="#") 
                picture.projects__picture 
                  source(srcset="@img/projects/" + n + "/projects@1x.webp")
                  img.img.projects__img(src="@img/projects/" + n + "/projects@1x.png", alt=`${val}`)