@media (max-width: 480px) {
  /* ----ФИКСИРОВАННАЯ ШАПКА САЙТА--- */

  .header-wrapper__logo {
    top: 10px;
  }

  .header-wrapper__logo img {
    width: 100px;
  }

  .header-contacts {
    font-size: 10px;
    position: absolute;
    left: 45%;
  }

  .header-contacts a {
    width: 90px;
  }

  .header-wrapper__items a {
    margin-left: 0;
    font-size: 20px;
  }

  /* ---КОНЕЦ ШАПКИ САЙТА---- */

  /* ---БЛОК ВСТУП С КАРТИНКОЙ--- */

  .introduction {
    background: url(../images/DSC_4719-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    width: 100%;
    position: relative;
  }

  .container {
    width: 100%;
  }

  .itroduction-title {
    position: relative;
  }

  .itroduction-title h1 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    color: #29406d;
  }

  .itroduction-title::after {
    content: "Специальный психолог и консультант";
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #29406d;
    position: absolute;
    bottom: -80px;
    max-width: 150px;
  }

  .introduction-descr {
    display: none;
  }

  .consult-btn a {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 300px;
    padding: 15px 10px;
  }

  .consult-btn a {
    position: relative;
  }

  .introducation-down-arrow {
    display: none;
  }

  /* ----КОНЕЦ БЛОКА ВСТУП С КАРТИНКОЙ---- */

  /* ---БЛОК 'КАКИЕ ПРОБЛЕМЫ Я ПОМОГАЮ РЕШАТЬ'-- */
  .title {
    font-size: 26px;
    font-weight: 800;
  }

  .descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  /* --КОНЕЦ БЛОКА 'КАКИЕ ПРОБЛЕМЫ Я ПОМОГАЮ РЕШАТЬ'--- */

  /* ---БЛОК ПЕРВЫЕ ПРИЗНАКИ--- */

  /* --КОНЕЦ БЛОКА ПЕРВЫЕ ПРИЗНАКИ-- */

  /* -БЛОК ЧТОБЫ ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦЫЮ- */
  .free-consult {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px 0 30px;
    background: #29406d;
    color: #fff;
  }
  .free-consult-title {
    font-size: 25px;
    font-weight: 600;
  }
  .free-consult-descr {
    font-size: 18px;
    font-weight: 400;
    margin: 50px auto 75px;
    line-height: 22px;
  }
  .free-consult-btn a {
    margin-top: 0;
  }
  /* -КОНЕЦ БЛОКА ЗАПИСИ НА КОНСУЛЬТАЦЫЮ- */

  /* --БЛОК 'МОИ ПРИНЦИПЫ'-- */
  .principles-items {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.5)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../images/principles__logo-small.jpg) no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/principles__logo-small.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/principles__logo-small.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* --КОНЕЦ БЛОКА 'МОИ ПРИНЦИПЫ'-- */

  /* --БЛОК 'МЕТОДЫ КОТОРЫЕ Я ИСПОЛЬЗУЮ'-- */
  .methods-lists {
    margin-left: 0;
  }

  .methods-lists__item {
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
  }

  #li_1::before,
  #li_2::before,
  #li_3::before,
  #li_4::before,
  #li_5::before,
  #li_6::before {
    display: none;
  }
  /* --КОНЕЦ БЛОКА 'МЕТОДЫ КОТОРЫЕ Я ИСПОЛЬЗУЮ'-- */

  /* --БЛОК 'РЕАЛЬНИЫЕ ПОСЛЕДСТВИЯ И РЕЗУЛЬТАТЫ'-- */
  .advantages-items__item {
    min-height: 560px;
  }

  .advantages {
    padding: 30px 0 0;
    color: #fff;
  }
  /* --КОНЕЦ БЛОКА 'РЕАЛЬНИЫЕ ПОСЛЕДСТВИЯ И РЕЗУЛЬТАТЫ'-- */

  /* --БЛОК 'КАК МЫ БУДЕМ ДОБИВАТСЯ РЕЗУЛЬТАТА-- */

  /* --КОНЕЦ БЛОКА 'КАК МЫ БУДЕМ ДОБИВАТСЯ РЕЗУЛЬТАТА'-- */

  /* --БЛОК 'ВИДЫ КОНСУЛЬТАЦЫЙ И ЦЕНЫ'-- */
  .price {
    padding: 50px 0 60px;
  }

  .price-title {
    margin-bottom: 60px;
  }

  .price__item {
    max-width: 400px;
    min-height: 285px;
    padding: 15px 15px;
    margin-bottom: 30px;
  }

  .price__item img {
    display: none;
  }

  .price__item--text_title {
    font-weight: 800;
  }

  .price__item--text_descr {
    margin: 25px 0;
    line-height: 20px;
  }

  .price__item--btn a {
    margin-top: 10px;
  }

  .price-online_consult {
    max-width: 400px;
    min-height: 285px;
    background: #f3f4f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    margin: 40px auto 0;
  }

  .price-online_consult img {
    display: none;
  }

  /* --КОНЕЦ БЛОКА 'ВИДЫ КОНСУЛЬТАЦЫЙ И ЦЕНЫ'-- */

  /* --БЛОК 'ЧАСТЫЕ ВОПРОСЫ'-- */

  /* --КОНЕЦ БЛОКА 'ЧАСТЫЕ ВОПРОСЫ'-- */

  /* --БЛОК 'СТАТИСТИКА'-- */
  .statistics-background {
    padding: 40px 0 10px;
  }

  .statistics-items__item {
    max-width: 100%;
    margin-bottom: 50px;
  }

  /* --КОНЕЦ БЛОКА 'СТАТИСТИКА'-- */

  /* --БЛОК 'ОТЗЫВЫ КЛИЕНТОВ'-- */

  .rewiews__item img {
    display: none;
  }
  /* --КОНЕЦ БЛОКА 'ОТЗЫВЫ КЛИЕНТОВ'-- */

  /* --БЛОК 'КОНТАКТЫ С КАРТОЙ'-- */
  .map-contacts {
    height: 200px;
  }
  /* --КОНЕЦ БЛОКА 'КОНТАКТЫ С КАРТОЙ'-- */

  /* --БЛОК 'ЗАПОЛНИТЕ ПРОСТУЮ ФОРМУ'-- */

  /* --КОНЕЦ БЛОКА 'ЗАПОЛНИТЕ ПРОСТУЮ ФОРМУ'-- */
  .footer-check {
    margin: 10px 0;
  }
  /* --БЛОК 'FOOTER'-- */
  .footer {
    padding: 30px 0 100px;
  }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .footer__item1 {
    position: absolute;
    bottom: -60%;
    left: 9%;
    z-index: 100;
    text-align: center;
  }

  .footer__item--logo img {
    width: 150px;
  }

  .footer__item--logo img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .footer__item--descr {
    font-size: 10px;
    text-align: center;
  }

  .footer__item {
    max-width: 260px;
  }

  .footer__item + .footer__item {
    padding-top: 10px;
    margin-left: 0px;
  }

  .js-a1,
  .js-a2,
  .js-a3 {
    font-size: 12px;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    left: -100%;
  }
  .footer__item--title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .js-a1,
  .js-a2,
  .js-a3 {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .active-footer.js-a1,
  .active-footer.js-a2,
  .active-footer.js-a3 {
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    position: relative;
    left: 0;
  }

  /* --КОНЕЦ БЛОКА 'FOOTER'-- */
}
