.education {
  padding: 100px 0;
}

.education-title {
  text-align: center;
  margin-bottom: -100px;
}

.education-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.education__item {
  max-width: 260px;
  width: 100%;
  background: #f3f4f7;
  padding: 30px 30px 80px 30px;
  text-align: center;
  position: relative;
  margin: 200px 10px 0;
}
.education__item--descr {
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 40px;
}
.education__item--text {
  font-size: 16px;
}
.education__item--logo {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  padding: 0 30px;
}
.education__item--logo img {
  width: 80px;
}
.education__item--logo__descr {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

/* --SLIDER-- */
.slider-education {
  margin-top: 100px;
}

.slider-title {
  text-align: center;
  margin-bottom: 50px;
}

.slider-item img {
  margin: 0 auto;
  max-width: 100%;
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li button {
  background: #29406d;
  border-radius: 50%;
}

.slick-dots li button::before {
  display: none;
}

li.slick-active button {
  background: #fff;
  border: 2px solid #29406d;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 100;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  color: #29406d;
}

.slick-prev {
  left: 100px;
}

.slick-next {
  right: 100px;
}

.slick-prev:before {
  content: url(../images/arrow-left.svg);
}

.slick-next:before {
  content: url(../images/arrow-right.svg);
}
