/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/roboto-v20-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('../fonts/roboto-v20-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/caveat-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Caveat Regular'), local('Caveat-Regular'),
       url('../fonts/caveat-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caveat-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/caveat-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caveat-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caveat-v7-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}

:root {
  font-size: 1em;
}
  @media (max-width: 768px) {
    :root {
      font-size: 0.8em;
    }
  }
    @media (min-width: 1920px) {
      :root {
        font-size: 1.5em;
      }
    }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  min-width: 320px;
}





/* Header */
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.container-fixed  {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0.5rem;
}
  @media (max-width: 768px) {
    .header .container-fixed  {
      padding: 0.5rem 1rem;
    }
  }

.header-overlay  {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* opacity: 0.85; */
  background: #e4d7b8;
  box-shadow: 0 0 10px #000;
  z-index: -1;
}

.header-main  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-burger  {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  margin-right: auto;
}
  @media (min-width: 769px) {
    .menu-burger  {
      display: none;
    }
  }

.hambergerIcon  {
  height: 5px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #F2EBD1;
  -webkit-transform: translate(-50%,-50%) rotate(0deg);
      -ms-transform: translate(-50%,-50%) rotate(0deg);
          transform: translate(-50%,-50%) rotate(0deg);
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  box-shadow: 0 0 5px #000;
}

.hambergerIcon::before,
.hambergerIcon::after  {
  content:"";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  box-shadow: 0 0 5px #000;
}

.hambergerIcon::before  {
  top: -10px;
  left: 0;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.hambergerIcon::after  {
  bottom:-10px;
  right: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.open  {
  -webkit-transform:translate(-50%,-50%) rotate(135deg);
      -ms-transform:translate(-50%,-50%) rotate(135deg);
          transform:translate(-50%,-50%) rotate(135deg);
  box-shadow: none;
}

.open::before {
  top:0;
  -webkit-transform: translateX(100%) rotate(-90deg);
      -ms-transform: translateX(100%) rotate(-90deg);
          transform: translateX(100%) rotate(-90deg);
  box-shadow: none;
}

.open::after  {
  bottom: 0;
  -webkit-transform: translateX(-100%) rotate(-90deg);
      -ms-transform: translateX(-100%) rotate(-90deg);
          transform: translateX(-100%) rotate(-90deg);
  box-shadow: none;
}

.logo-box a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2EBD1;
  background: url('../img/world.png') 0% 50% no-repeat;
  background-size: 22%;
}

.logo-box span {
  font-family: Caveat, sans-serif;
  margin: 0 0 0 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.header-nav  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
  @media (max-width: 768px) {
    .header-nav  {
      display: none;
      position: absolute;
      left: 0;
      top: 6rem;
      width: 100vw;
      z-index: 100;
    }
  }

.header-nav .nav-item  {
  list-style: none;
}
  @media (max-width: 768px) {
    .header-nav .nav-item {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dfc78e;
      opacity: 0.8;
      transition: all .5s linear;
      cursor: pointer;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      font-weight: bold;
      font-size: 5rem;
    }
    .header-nav .nav-item:hover {
      opacity: 1;
      transition: all .3s linear;
    }
  }

.header-nav .nav-item .nav-item__anchors  {
  text-decoration: none;
  color: #000;
  padding: 0.6rem;
  font-size: 1.2rem;
  transition: all .2s linear;
  position: relative;
}

.header-nav .nav-item .nav-item__anchors::before,
.header-nav .nav-item .nav-item__anchors::after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #000;
}

.header-nav .nav-item .nav-item__anchors::before {
  border-width: 1px 0 1px 0;
  transform:  scaleX(0);
}

.header-nav .nav-item .nav-item__anchors::after {
  border-width: 0 1px 0 1px;
  transform:  scaleY(0);
}

.header-nav .nav-item .nav-item__anchors:hover:before,
.header-nav .nav-item .nav-item__anchors:hover:after {
  transform:  scale(1, 1);
}

.header-nav .nav-item .nav-item__anchors:hover {
  background-color: #dfc78e;
  transition: all .2s linear;
  border-radius: 10px;
  /* font-weight: bold; */
}
  @media (max-width: 768px) {
    .header-nav .nav-item .nav-item__anchors {
      font-size: 1.5rem;
    }
    .header-nav .nav-item .nav-item__anchors:hover{
      background-color: inherit;
    }
    .header-nav .nav-item .nav-item__anchors:hover:before,
    .header-nav .nav-item .nav-item__anchors:hover:after {
      display: none;
    }
  }



/* frontSide */
.frontSide  {
  height: 100vh;
  background:  url('../img/background.png') 50% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .frontSide img {
  width: 100%;
  /* min-width: 1920px; */
  height: calc(100vh - 80px);
  position: absolute;
  z-index: -1;
  bottom: 0;
} */

.frontSide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: #fff;
}

.frontSide__box  {
  padding: 0 1rem;
  max-width: 30rem;
  position: relative;
}

.frontSide__box-overlay  {
  opacity: 0.8;
  background: #e4d7b8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5rem;
}

.frontSide__box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.frontSide__box-content h1 {
  font-size: 2.5rem;
  line-height: 3.3125rem;
  color: #2d2d2d;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 5px #fff;
}

.frontSide__box-content p {
  font-size: 1.375rem;
  padding: 0;
  margin: 1rem auto 0 auto;
  line-height: 2rem;
  text-align: center;
  text-shadow: 5px 5px 5px #fff;
}

.frontSide__box-content a {
  box-shadow: 0 3px 20px rgba(0,0,0,.77);
  padding: 1rem 1.9rem;
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border: 0;
  color: #000;
  text-shadow: 0 1px 1px rgba(0,0,0,.22);
  background: #F1C34A;
  transition: all .5s linear;
  border: 2px solid #000;
}

.frontSide__box-content a:hover {
  box-shadow: none;
  transition: all .5s linear;
}
